.page-home_stories {
  margin-top: 24px;

  .loc_block {
    //background-color: $c_pistachioLight;
    padding: 0;
  }

  .loc_title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 8px 0;
    color: $c_lagunaGrey;
    display: inline-block;
    @extend %hoverable;
  }

  .loc_item {
    margin-bottom: 16px;
    display: flex;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    background-color: $c_greyF5;
    padding: 16px;

    &.loc--non_published {
      background-color: $c_yellowLight;
    }

    .loc_nonpublished {
      margin-bottom: 16px;
    }
    .loc_pin {
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: default;
      img {
        height: 16px;
        width: 16px;
      }
    }
    .loc_created {
      font-size: 11px;
      color: $c_lagunaGrey;
    }

    .loc_name {
      display: block;
      font-size: 16px;
      padding: 4px 0;
      font-weight: 600;
      color: $c_lagunaGrey;
      @extend %hoverable;
    }

    .loc_short_description {
      color: $c_grey;
      font-size: 13px;
      line-height: 18px;
    }
  }

  .loc_seeAll {
    margin-top: 12px;
    color: $c_lagunaDark;
    @extend %hoverable;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    margin-left: auto;

    svg {
      height: 12px;
    }
  }
}


.layout.loc--isMobile .page-home_stories {
  margin: 0 calc(-24px * var(--viewport-koeff));
  padding: calc(24px * var(--viewport-koeff));
  margin-bottom: calc(32px * var(--viewport-koeff));

  .loc_title {
    font-size: calc(36px * var(--viewport-koeff));
    margin-bottom: calc(16px * var(--viewport-koeff));
  }

  .loc_item {
    margin-bottom: calc(32px * var(--viewport-koeff));
    padding: calc(24px * var(--viewport-koeff));

    .loc_nonpublished {
      font-size: calc(22px * var(--viewport-koeff));
      margin-bottom: calc(16px * var(--viewport-koeff));
    }
    .loc_pin {

      top: calc(24px * var(--viewport-koeff));
      right: calc(24px * var(--viewport-koeff));
      img {
        height: calc(32px * var(--viewport-koeff));
        width: calc(32px * var(--viewport-koeff));
      }
    }
    .loc_created {
      font-size: calc(24px * var(--viewport-koeff));
      color: $c_main;
    }

    .loc_name {
      font-size: calc(34px * var(--viewport-koeff));
      padding: calc(8px * var(--viewport-koeff)) 0;

    }

    .loc_short_description {
      font-size: calc(26px * var(--viewport-koeff));
      line-height: calc(40px * var(--viewport-koeff));
      color: $c_main;
    }
  }

  .loc_seeAll {

    gap: calc(16px * var(--viewport-koeff));
    font-size: calc(24px * var(--viewport-koeff));
    margin-top: calc(8px * var(--viewport-koeff));

    svg {
      height: calc(20px * var(--viewport-koeff));
    }
  }
}
