.page-volunteers {
  position: relative;

  .loc_blank {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 999999;
  }

  .loc_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
    position: relative;
    min-height: 300px;

    .component-loaderIcon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      margin-top: -25px;
      margin-left: -25px;
    }

    .loc_wrapper {
      position: relative;
      width: calc(25% - 12px);
      padding: 16px 16px 24px 16px;
      background: #d6e8d1;
      border-radius: 8px;

      .loc_item {
        line-height: normal;

        .loc_image {
          position: relative;

          > a > img {
            width: 256px;
            height: 256px;
            cursor: pointer;
          }
        }

        .loc_content {
          width: 100%;
          margin-top: 16px;

          .loc_button {
            background-color: $c_pistachioDark;

            &:hover {
              background-color: $c_pistachioMediumDark;
            }
          }

          .loc_data {
            margin-top: 16px;
            font-weight: 400;
            font-size: 16px;

            .loc_fio {
              font-weight: 600;
              display: inline-block;
              font-size: 18px;

              &:hover {
                color: #246024;
              }
            }

            .loc_parameters {
              font-style: italic;
            }

            .loc_description {
              border-top: 1px solid $c_greyDark;
              padding-top: 16px;
              margin-top: 16px;
              font-size: 18px;
            }
          }

          .loc_button {
            margin: 0 auto;
          }
        }
      }
    }
  }
}


.layout.loc--isMobile .page-volunteers {
  width: 100% !important;

  .loc_list {
    padding: 0;
    gap: calc(16px * var(--viewport-koeff));
    min-height: 300px;

    .component-loaderIcon {
      width: calc(50px * var(--viewport-koeff));
      margin-top: calc(-25px * var(--viewport-koeff));
      margin-left: calc(-25px * var(--viewport-koeff));
    }

    .loc_wrapper {
      width: calc(50% - calc(8px * var(--viewport-koeff)));
      padding: calc(24px * var(--viewport-koeff)) calc(24px * var(--viewport-koeff)) calc(32px * var(--viewport-koeff)) calc(24px * var(--viewport-koeff));
      position: relative;

      .loc_item {
        line-height: normal;

        .loc_image {
          > a > img {
            width: 100%;
            height: auto;
          }
        }

        .loc_content {
          margin-top: calc(32px * var(--viewport-koeff));

          .loc_data {
            font-size: calc(28px * var(--viewport-koeff));
            margin-top: calc(32px * var(--viewport-koeff));

            .loc_fio {
              font-size: calc(32px * var(--viewport-koeff));
              font-weight: 600;
            }

            .loc_description {
              font-size: calc(32px * var(--viewport-koeff));
              padding-top: calc(16px * var(--viewport-koeff));
              margin-top: calc(24px * var(--viewport-koeff));
            }
          }
        }
      }
    }
  }
}
