.page-volunteer_volunteersList {
  margin-bottom: 24px;
  height: 161px;

  .loc_wrapper {
    position: relative;
  }

  .loc_slider {
  }

  .swiper-slide {
    display: flex;
    background-color: $c_white;
    flex-direction: column;
    cursor: pointer;

    .loc_image {
      position: relative;

      img {
        width: 100%;
        max-width: 100%;
      }

      .loc_fio {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 4px 8px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        border-radius: 0 0 0 4px;

        &.loc--selected {
          background-color: $c_green;
          color: $c_white;
        }
      }
    }
  }

  .react-tabs__tab {
    &-panel {
      border-top-right-radius: 0;
    }
  }
}

.layout.loc--isMobile .page-volunteer_volunteersList {
  height: auto;
  min-height: calc((100vw - calc(48px * var(--viewport-koeff)) - 24px) / 3);
  margin-bottom: calc(24px * var(--viewport-koeff));

  .loc_slider {
    .loc_fio {
      font-size: calc(32px * var(--viewport-koeff)) !important;
      padding: calc(12px * var(--viewport-koeff)) calc(16px * var(--viewport-koeff));
      line-height: calc(40px * var(--viewport-koeff));
    }
  }
}
