.page-collection {

  .loc_contentWrapper {

    .loc_topWrapper {
      display: flex;
      gap: 32px;

      .loc_avatar {
        img {
          width: 450px;
          height: 450px;
        }

      }

      .loc_donation {
        width: 35%;

        .loc_title {
          height: 55px;
          text-align: right;
          font-size: 16px;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          padding-bottom: 8px;
          font-weight: 600;
          color: $c_lagunaGrey;
        }

        .loc_value {
          text-align: right;
          font-weight: 600;

          span {
            color: $c_orange;
            font-size: 26px;
          }
        }

        .loc_additionally {
          margin-top: 8px;
          text-align: right;
          font-style: Italic;
          @extend %hoverable;
          color: $c_lagunaDark;
        }

        .loc_redactButton, .loc_donateButton {
          margin-top: 24px;
          margin-left: auto;
        }
        .component-copyLinkToPage {
          .loc_copyLinkButton {
            margin-left: auto;
          }
          .loc_copyToBufferStatus {
            width: 224px;
            margin-left: auto;
          }
        }
      }
      .loc_not_published {
        background-color: $c_yellowLight;
        padding: 16px;
        margin: 24px 0;
      }
      .loc_right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        align-content: flex-start;

        .loc_data {
          width: 65%;
          align-content: flex-start;

          .loc_name {
            font-size: 40px;
            font-weight: 600;
            margin-left: -2px;
          }

          .loc_id {
            margin-top: 24px;
          }

          .loc_target_animal {
            font-weight: 600;
            font-size: 18px;
            margin: 0px 0 8px 0;

            a {
              color: $c_lagunaBlueDark;

              @extend %hoverable;
            }
          }

          .loc_closed {
            margin-top: 16px;
            background-color: $c_greenLight;
            color: $c_white;
            font-weight: 600;
            font-size: 16px;
            height: 48px;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0 16px;
            border-radius: 24px;
            width: 175px;

            > img {
              width: 32px;
              height: 32px;
            }
          }


        }

        .loc_description {
          font-size: 18px;
          line-height: 28px;
          margin-top: 24px;
          align-content: flex-start;
        }
      }

      .loc_targetSum {
        margin-top: 8px;
        font-weight: 600;
        font-size: 18px;
        color: $c_lagunaGrey;

        span {
          color: $c_orange;
        }
      }

      .disclaimer {
        width: 100%;
        font-style: Italic;
        font-size: 14px;
        margin-top: 24px;
      }
    }

    .loc_bottomWrapper {
      margin-top: 24px;

      .loc_slider {
        margin-bottom: 24px;
        .swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 800px;
          max-height: 80vh;
          background-color: $c_greyDark;
        }

        .loc_image {
          max-height: 100%;
        }
      }


      .loc_video {
        display: flex;
        width: 100%;
        max-height: 600px;
        margin-bottom: 24px;
        background-color: $c_greyDark;
      }


    }
  }

  &_donationsListModal {
    .loc_title {
      font-style: Italic;
    }

    .loc_content {
      padding-right: 8px;
      margin-right: -8px;
      height: 400px;
      overflow: auto;
      margin-bottom: 32px;
      margin-top: 16px;
      position: relative;

      .component-loaderIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        margin-top: -25px;
        margin-left: -25px;
      }

      .loc_list {
        .loc_item {
          display: flex;
          justify-content: space-around;
          margin-bottom: 16px;

          .loc_name {
            &.loc--hasLink {
              color: $c_blue;
              @extend %hoverable;
            }
          }

          .loc_sum {
            margin-left: auto;

            span {
              font-weight: 600;
              color: $c_orange;
            }
          }
        }

      }
    }

    .loc_buttons {
      display: flex;
      justify-content: center;
    }
  }
}

.layout.loc--isMobile .page-collection {

  .loc_contentWrapper {
    font-size: calc(24px * var(--viewport-koeff));

    .loc_name {
      margin-top: 0;
      margin-bottom: calc(8px * var(--viewport-koeff));
      font-size: calc(44px * var(--viewport-koeff));
      font-weight: 600;
      margin-left: calc(-2px * var(--viewport-koeff));
    }

    .loc_status {
      font-size: calc(32px * var(--viewport-koeff));
    }

    .loc_topWrapper .loc_data {
      width: calc(100% - calc(429px * var(--viewport-koeff)));
      .loc_target_animal {
        font-weight: 600;
        font-size: calc(28px * var(--viewport-koeff));
        margin: 0 0 calc(8px * var(--viewport-koeff)) 0;
        span {
          color: $c_lagunaBlueDark;

          @extend %hoverable;
        }
      }
      .loc_id, .loc_targetSum, .loc_parameters {
        margin-top: 0;
        margin-bottom: calc(8px * var(--viewport-koeff));
        font-size: calc(28px * var(--viewport-koeff));
      }

      .loc_id {

        margin-top: calc(24px * var(--viewport-koeff));
        margin-bottom: calc(24px * var(--viewport-koeff));
      }

      .loc_targetSum, .loc_donation .loc_title {
        color: $c_main;

      }

      .loc_targetSum span {
        color: $c_lagunaDark;

      }

      .loc_parameters {
        gap: 0;

        .loc_sex {
          width: 100%;
          margin-bottom: calc(4px * var(--viewport-koeff));

          span {
            display: none
          }
        }
      }
      .loc_closed {
        margin-top: calc(24px * var(--viewport-koeff));
        background-color: $c_greenLight;
        color: $c_white;
        font-weight: 600;
        font-size: calc(16px * var(--viewport-koeff));
        display: flex;
        align-items: center;
        gap: calc(8px * var(--viewport-koeff));
        padding: calc(8px * var(--viewport-koeff)) calc(24px * var(--viewport-koeff));
        border-radius: calc(99px * var(--viewport-koeff));
        width: fit-content;

        > img {
          width: calc(48px * var(--viewport-koeff));
          height: calc(48px * var(--viewport-koeff));
        }
      }
    }

    .loc_topWrapper .loc_right .loc_donation .loc_title {
      font-size: calc(24px * var(--viewport-koeff));
      height: auto;
    }

    .loc_right {
      .loc_buttonWrapper {
        width: 100%;
      }

      .loc_donateButton {
        margin: calc(48px * var(--viewport-koeff)) auto calc(16px * var(--viewport-koeff)) auto;
      }

      .loc_redactButton {
        margin: calc(24px * var(--viewport-koeff)) auto 0 auto;
      }
      .component-copyLinkToPage {
        width: 100%;
        padding-bottom: calc(16px * var(--viewport-koeff));
        padding-left: 0;
        padding-right: 0;
        .loc_copyLinkButton {
          margin-left: auto;
          margin-right: auto;
        }
        .loc_copyToBufferStatus {
          width: 100%;
          margin-left: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .disclaimer {
      font-size: calc(24px * var(--viewport-koeff));
      margin: 0 calc(24px * var(--viewport-koeff)) calc(24px * var(--viewport-koeff)) calc(24px * var(--viewport-koeff));
    }

    .loc_topWrapper {
      flex-wrap: wrap;
      gap: calc(24px * var(--viewport-koeff));

      .loc_avatar {
        img {
          width: calc(405px * var(--viewport-koeff));
          height: calc(405px * var(--viewport-koeff));
        }
      }

      .loc_right {
        width: 100%;


        .disclaimer {
          font-size: calc(24px * var(--viewport-koeff));
        }

        .loc_description {
          margin-top: 0;
          font-size: calc(28px * var(--viewport-koeff));
          width: 100%;
        }

        .loc_collections {
          width: 100%;
          gap: calc(16px * var(--viewport-koeff));
          margin-top: 0;
          margin-bottom: calc(24px * var(--viewport-koeff));

          .loc_title {
            font-size: calc(28px * var(--viewport-koeff));
          }

          .loc_item {
            font-size: calc(24px * var(--viewport-koeff));
            padding: calc(8px * var(--viewport-koeff)) calc(24px * var(--viewport-koeff));
            border-radius: calc(99px * var(--viewport-koeff));
          }

        }
      }
    }

    .loc_donation {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: 0;

      .loc_title {
        justify-content: flex-start;
        font-size: calc(28px * var(--viewport-koeff));
        height: auto;
        padding-bottom: 0;
        align-items: flex-start;
      }

      .loc_value {
        margin-left: calc(16px * var(--viewport-koeff));
        font-size: calc(28px * var(--viewport-koeff));

        align-items: flex-start;
        span {
          font-size: calc(26px * var(--viewport-koeff));
        }
      }

      .loc_additionally {
        width: 100%;
        text-align: left;
        margin-top: calc(24px * var(--viewport-koeff));
        font-weight: 600;
        font-size: calc(28px * var(--viewport-koeff));
      }


    }

    .loc_bottomWrapper {
      margin: calc(32px * var(--viewport-koeff)) calc(-24px * var(--viewport-koeff)) 0px calc(-24px * var(--viewport-koeff));

      display: flex;
      flex-wrap: wrap;

      .loc_slider {
        width: 100%;
        margin-bottom: calc(24px * var(--viewport-koeff));

        .swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 1200px;
          max-height: 80vh;
          background-color: $c_greyDark;
        }

        .loc_image {
          max-height: 100%;
          max-width: 100%;
        }
      }

      .loc_video {
        margin-bottom: calc(24px * var(--viewport-koeff));
        display: flex;
        width: 100%;
        height: 1200px;
        max-height: 80vh;
      }
    }

    .loc_not_published {
      padding: calc(16px * var(--viewport-koeff));
      margin: calc(24px * var(--viewport-koeff)) 0;
    }
  }

}


.page-collection_donationsListModal .component-modal--isMobile{
  .loc_title {
    padding-bottom: calc(24px * var(--viewport-koeff));
  }

  .loc_content {
    height: 50vh;
    padding-right: calc(8px * var(--viewport-koeff));
    margin-right: calc(-8px * var(--viewport-koeff));
    margin-bottom: calc(32px * var(--viewport-koeff));
    margin-top: calc(16px * var(--viewport-koeff));
    .component-loaderIcon {
      width: calc(50px * var(--viewport-koeff));
      margin-top: calc(-25px * var(--viewport-koeff));
      margin-left: calc(-25px * var(--viewport-koeff));
    }



    .loc_list {
      .loc_item {
        margin-bottom: calc(16px * var(--viewport-koeff));
      }
    }



  }
}
