/*
  Общие расширения
 */
%hoverable {
  cursor: pointer;

  &:hover, &:hover * {
    transition: $transition;
    color: $c_lagunaBlue;
  }

  &:active, &:active * {
    color: $c_lagunaBlue;
  }
}

%hoverableRed {
  cursor: pointer;

  &:hover, &:hover * {
    transition: $transition;
    color: $c_redLight;
  }

  &:active, &:active * {
    color: $c_redLight;
  }
}

%active {
  color: $c_lagunaBlue;
}
