/*
  Общие расширения
 */
%hoverable {
  cursor: pointer;

  &:hover, &:hover * {
    transition: $transition;
    color: $c_lagunaBlue;
  }

  &:active, &:active * {
    color: $c_lagunaBlue;
  }
}

%hoverableRed {
  cursor: pointer;

  &:hover, &:hover * {
    transition: $transition;
    color: $c_redLight;
  }

  &:active, &:active * {
    color: $c_redLight;
  }
}

%hoverableLagunaMiddle {
  cursor: pointer;

  &:hover, &:hover * {
    transition: $transition;
    color: $c_lagunaMiddle;
  }

  &:active, &:active * {
    color: $c_lagunaMiddle;
  }
}

%hoverableLagunaBlueDark {
  cursor: pointer;

  &:hover, &:hover * {
    transition: $transition;
    color: $c_lagunaBlueDark;
  }

  &:active, &:active * {
    color: $c_lagunaBlueDark;
  }
}




%active {
  color: $c_lagunaBlue;
}
