/*
  Общие расширения
 */
%hoverable {
  cursor: pointer;

  &:hover, &:hover * {
    transition: $transition;
    color: $c_lagunaBlue;
  }

  &:active, &:active * {
    color: $c_lagunaBlue;
  }
}

%hoverableRed {
  cursor: pointer;

  &:hover, &:hover * {
    transition: $transition;
    color: $c_redLight;
  }

  &:active, &:active * {
    color: $c_redLight;
  }
}

%hoverableLagunaMiddle {
  cursor: pointer;

  &:hover, &:hover * {
    transition: $transition;
    color: $c_lagunaMiddle;
  }

  &:active, &:active * {
    color: $c_lagunaMiddle;
  }
}

%hoverableLagunaBlueDark {
  cursor: pointer;

  &:hover, &:hover * {
    transition: $transition;
    color: $c_lagunaBlueDark;
  }

  &:active, &:active * {
    color: $c_lagunaBlueDark;
  }
}


%active {
  color: $c_lagunaBlue;
}


%wysiwyg_persentages_common {
  table {
    border-spacing: unset;

    tr {
      &:first-child {
        & > td {
          padding-top: 0px !important;
        }
      }
      &:last-child {
        & > td {
          padding-bottom: 0px !important;
        }
      }
      td {
        padding: 8px !important;
      }

      td:first-child {
        padding-left: 0px !important;
      }

      td:last-child {
        padding-right: 0px !important;
      }
    }
  }

  .se-component {
    figure {
      margin: 0;
    }
  }

  .se-component.se-video-container.__se__float-none,
  .se-component.se-video-container.__se__float-left,
  .se-component.se-video-container.__se__float-center,
  .se-component.se-video-container.__se__float-right {
    width: 100% !important;

    figure {
      padding-bottom: 0 !important;
      margin: 0 !important;
      min-height: 400px !important;
    }
  }

  .se-component.se-image-container.__se__float {

    &-left {
      margin-bottom: 0 !important;

      figure {
        float: left;
        margin: 0 16px 0 0;
      }
    }

    &-right {
      margin-bottom: 0 !important;

      figure {
        float: right;
        margin: 0 0 0 16px;
      }
    }

    &-center {
      display: flex;
      justify-content: center;
      margin-bottom: 0 !important;

      figure {
        margin: 0 0 0 0;
      }
    }

    &-none {
      margin-bottom: 0 !important;

      figure {
        margin: 0 16px 0 0;
      }
    }
  }
}

%wysiwyg_persentages {


  table.se-table-layout-fixed {
    table-layout: fixed !important;
  }

  .se-component.se-image-container.__se__float-left {
    figure img {
      float: left;
    }
  }

  .se-component.se-image-container.__se__float-right {
    figure img {
      float: right;
    }
  }

  .se-component.se-image-container.__se__float-left,
  .se-component.se-image-container.__se__float-none,
  .se-component.se-image-container.__se__float-right {
    width: 100% !important;;

    figure {
      img[data-size="25%,auto"], img[data-size="25%,"] {
        width: 25% !important;
      }

      img[data-size="30%,auto"], img[data-size="30%,"] {
        width: 30% !important;
      }

      img[data-size="40%,auto"], img[data-size="40%,"] {
        width: 40% !important;
      }

      img[data-size="50%,auto"], img[data-size="50%,"] {
        width: 50% !important;
      }

      img[data-size="60%,auto"], img[data-size="60%,"] {
        width: 60% !important;
      }

      img[data-size="75%,auto"], img[data-size="75%,"] {
        width: 75% !important;
      }

      img[data-size="80%,auto"], img[data-size="80%,"] {
        width: 80% !important;
      }

      img[data-size="90%,auto"], img[data-size="90%,"] {
        width: 90% !important;
      }

      img[data-size="95%,auto"], img[data-size="95%,"] {
        width: 95% !important;
      }
    }
  }

}
