%desctopCommon {

  video {
    max-height: 85vh;
  }

  // --> wysiwyg
  .sun-editor, .wysiwyg_description {
    .se-component {
      figure, figure img {
        margin: 0 !important;
      }

      &.se-video-container.__se__float-none,
      &.se-video-container.__se__float-left,
      &.se-video-container.__se__float-center,
      &.se-video-container.__se__float-right {
        width: 100% !important;

        figure {
          padding-bottom: 0 !important;
          margin: 0 !important;
          min-height: 400px !important;
        }
      }

      &.se-image-container.__se__float {
        &-left, &-right, &-center, &-none {
          margin: 0 !important;

          figure {
            margin: 0 !important;
          }
        }

        &-left {
          figure {
            float: left;
          }
        }

        &-right {
          figure {
            float: right;
          }
        }

        &-center {
          display: flex;
          justify-content: center;
        }
      }
    }

    table {
      margin-bottom: 16px;
      width: 100%;
      border-spacing: 0;

      td {
        vertical-align: top;
      }

      tr {
        &:first-child {
          & > td {
            padding-top: 0 !important;
          }
        }

        &:last-child {
          & > td {
            padding-bottom: 0 !important;
          }
        }

        td {
          padding: 8px !important;
        }

        td:first-child {
          padding-left: 0 !important;
        }

        td:last-child {
          padding-right: 0 !important;
        }
      }
    }

    p {
      display: block;
      margin: 0 0 16px !important;
    }
  }

  .sun-editor {
    font-family: inherit;

    * {
      font-family: inherit;
      font-size: 18px;
    }

    .se-dialog-content.se-dialog-image {
      .se-dialog-footer {
        > div {
          width: 100%;
        }
      }
    }

    p {
      padding: 0;
      font-size: 18px;

      * {
        font-size: 18px;
      }
    }
  }

  .wysiwyg_description {
    table.se-table-layout-fixed {
      table-layout: fixed !important;
    }

    .se-component.se-image-container.__se__float-left {
      figure img {
        float: left;
      }
    }

    .se-component.se-image-container.__se__float-right {
      figure img {
        float: right;
      }
    }

    .se-component.se-image-container.__se__float-left,
    .se-component.se-image-container.__se__float-none,
    .se-component.se-image-container.__se__float-right {
      width: 100% !important;;

      figure {
        img[data-size="25%,auto"], img[data-size="25%,"] {
          width: 25% !important;
        }

        img[data-size="30%,auto"], img[data-size="30%,"] {
          width: 30% !important;
        }

        img[data-size="40%,auto"], img[data-size="40%,"] {
          width: 40% !important;
        }

        img[data-size="50%,auto"], img[data-size="50%,"] {
          width: 50% !important;
        }

        img[data-size="60%,auto"], img[data-size="60%,"] {
          width: 60% !important;
        }

        img[data-size="75%,auto"], img[data-size="75%,"] {
          width: 75% !important;
        }

        img[data-size="80%,auto"], img[data-size="80%,"] {
          width: 80% !important;
        }

        img[data-size="90%,auto"], img[data-size="90%,"] {
          width: 90% !important;
        }

        img[data-size="95%,auto"], img[data-size="95%,"] {
          width: 95% !important;
        }
      }
    }
  }

  // <-- wysiwyg

  .form-element-description {
    @extend %formElementDescription;

    &.loc--photo {
      text-align: left !important;
      margin-top: -12px !important;
      margin-bottom: 16px !important;
    }
  }
}
