%mobileCommon {

  font-size: calc(32px * var(--viewport-koeff));


  h1 {
    font-size: calc(48px * var(--viewport-koeff));
    line-height: calc(72px * var(--viewport-koeff));
  }

  h2 {
    font-size: calc(40px * var(--viewport-koeff));
    line-height: calc(64px * var(--viewport-koeff));
  }

  .swiper-button-prev,
  .swiper-button-next {
    height: calc(100px * var(--viewport-koeff));
    width: calc(70px * var(--viewport-koeff));
    border-radius: calc(16px * var(--viewport-koeff));
    border: 1px solid $c_greyLight;

    &:after {
      font-size: calc(32px * var(--viewport-koeff));
    }
  }

  .swiper-button-prev {
    left: calc(10px * var(--viewport-koeff));
  }

  .swiper-button-next {
    right: calc(10px * var(--viewport-koeff));
  }

  textarea {
    border-radius: calc(8px * var(--viewport-koeff));
    padding: calc(16px * var(--viewport-koeff));
    font-size: calc(16px * var(--viewport-koeff));
  }
  input::placeholder {
    font-size: calc(30px * var(--viewport-koeff));
  }
  .margin_t24 {
    margin-top: calc(24px * var(--viewport-koeff));
  }
  
  .margin_t48 {
    margin-top: calc(48px * var(--viewport-koeff));
  }

  .margin_b24 {
    margin-bottom: calc(24px * var(--viewport-koeff));
  }

  // --> wysiwyg - тут только переопределения для мобилки - 12px padding и 0 для перевеса стилей
  .wysiwyg_description, .sun-editor {
    table {
      margin-bottom: calc(24px * var(--viewport-koeff)) !important;
      border-spacing: 0;

      tr {
        &:first-child {
          & > td {
            padding-top: 0px !important;
          }
        }

        &:last-child {
          & > td {
            padding-bottom: 0px !important;
          }
        }

        td {
          padding: calc(12px * var(--viewport-koeff)) !important;
        }

        td:first-child {
          padding-left: 0px !important;
        }

        td:last-child {
          padding-right: 0px !important;
        }
      }
    }

    p {
      margin: 0 0 calc(24px * var(--viewport-koeff)) !important;
    }
  }

  // <-- wysiwyg

  .form-element-description {
    font-size: calc(24px * var(--viewport-koeff));
    margin-top: calc(8px * var(--viewport-koeff));
    &.loc--photo {
      text-align: left !important;
      margin-top: calc(-24px * var(--viewport-koeff)) !important;
      margin-bottom: calc(32px * var(--viewport-koeff)) !important;
    }
  }
}
