.component-select {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  .loc_label {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }

  .loc_control {
    border: 1px solid $c_greyMedium;
    border-radius: 99px;
    padding: 0 8px;
    min-height: 40px;
    box-shadow: none;

    &:hover {
      border-color: $c_greyMedium; //$c_greyDark;
    }

    &.loc--focused {
      border-color: $c_greyMedium; //$c_blueLight;
    }
  }

  .loc_menu {
    .loc_menuList {
      max-height: 50vh;
    }
  }

  .loc_input_star {
    position: absolute;
    margin-bottom: 33px;
    right: -8px;
    top: -4px;
  }
}

.layout.loc--isMobile .component-select {

  .loc_label {
    line-height: calc(44px * var(--viewport-koeff));
    font-size: calc(30px * var(--viewport-koeff));
    display: flex;
    align-items: center;
    padding-right: calc(20px * var(--viewport-koeff));
  }

  .loc_control {
    border: 1px solid $c_greyMedium;
    padding: 0 calc(32px * var(--viewport-koeff));
    min-height: unset !important;
    height: calc(80px * var(--viewport-koeff));
    font-size: calc(30px * var(--viewport-koeff));

    > div {
      padding: 0 !important;

      > div {
        margin: 0 !important;
      }
    }
  }

  .loc_menu {
    font-size: calc(32px * var(--viewport-koeff));
    line-height: calc(64px * var(--viewport-koeff));
  }

  .loc_clearIndicator, .loc_dropdownIndicator {
    svg {
      width: calc(40px * var(--viewport-koeff));
      height: calc(40px * var(--viewport-koeff));
    }
  }

  .loc_input_star {
    right: calc(-12px * var(--viewport-koeff));
    font-size: calc(28px * var(--viewport-koeff));
    font-weight: 900;
    margin-bottom: calc(33px * var(--viewport-koeff));
    top: calc(-4px * var(--viewport-koeff));
  }
}

.css-1jqq78o-placeholder {
  color: hsl(0, 0%, 73%) !important;
}
