.page-contacts {
  display: flex;
  justify-content: center;

  .loc_left {
    width: 70%;
    padding-right: 24px;

    .loc_phone {
      display: flex;
      align-items: center;
      gap: 16px;

      .loc_value {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
      }

      .loc_fio {
        line-height: 27px;
        font-size: 18px;
      }
    }

    .loc_content_1 {
      margin-top: 16px;
      font-size: 16px;
      line-height: 28px;
    }

    .loc_vk {
      padding-right: 12px;
    }

    .loc_ok, .loc_inst {
      padding-left: 12px;
    }

    .loc_vk, .loc_inst, .loc_ok {
      width: 50%;
      margin-top: 24px;
      float: left;

      img {
        cursor: pointer;
      }

      .loc_link {
        @extend %hoverable;
        display: flex;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        color: $c_lagunaGrey;
        font-size: 18px;
        font-weight: 600;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }

    .loc_vk .loc_link {
      margin-bottom: 24px;
    }
  }

  .loc_right {
    width: 30%;
  }
}


.layout.loc--isMobile .page-contacts {
  flex-wrap: wrap;

  .loc_left, .loc_right {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .loc_phone {
    gap: calc(16px * var(--viewport-koeff));

    .loc_value {
      font-size: calc(32px * var(--viewport-koeff));
      line-height: calc(40px * var(--viewport-koeff));
    }

    .loc_fio {
      font-size: calc(30px * var(--viewport-koeff));
      line-height: calc(40px * var(--viewport-koeff));
    }
  }

  .loc_left .loc_content_1 {
    font-size: calc(34px * var(--viewport-koeff));
    line-height: calc(50px * var(--viewport-koeff));
    margin-top: calc(24px * var(--viewport-koeff));
  }

  .loc_vk, .loc_ok, .loc_inst {
    width: 100%;
    padding: 0 0 0 0;
    margin-top: calc(24px * var(--viewport-koeff));

    .loc_link {
      font-size: calc(36px * var(--viewport-koeff));
      gap: calc(32px * var(--viewport-koeff));
    }
  }

  .loc_vk .loc_link {
    margin-bottom: 0;
  }

  .loc_phone, .loc_vk, .loc_ok, .loc_inst {
    img {
      height: calc(80px * var(--viewport-koeff));
      width: calc(80px * var(--viewport-koeff));
    }
  }
}
