$labelWidth: 33%;
$formElWidth: 67%;
.page-administration_pets_form_component {
  .loc_form,
  .loc_photos {
    display: flex;
  }

  .loc_form {
    .loc_left {
      width: 40%;
      padding-right: 32px;
    }

    .loc_right {
      width: 60%;
      padding-left: 0;
    }
  }

  .loc_photos {
    flex-wrap: wrap;
    margin-top: 24px;

    h2 {
      width: 100%
    }

    .loc_left {
      width: 35%;
      padding-right: 32px;
    }

    .loc_right {
      width: 65%;
      padding-left: 32px;
    }
  }

  .loc_formInputItem {
    margin-bottom: 24px;

    input {
      width: $formElWidth;
    }

    label {
      width: $labelWidth;
    }
  }

  .loc_formDateItem {
    margin-bottom: 24px;

    .loc_datepicker {
      width: $formElWidth;
    }

    .loc_label {
      width: $labelWidth;
    }
  }

  .loc_formTextareaItem {
    margin-bottom: 24px;

    textarea {
      width: $formElWidth;
    }

    label {
      width: $labelWidth;
    }

    &.loc__shortdescription textarea {
      height: 103px;
    }

    &.loc__fulldescription textarea {
      height: 340px;
    }
  }

  .loc_formSelectItem {
    margin-bottom: 24px;

    .loc_select {
      width: $formElWidth;
    }

    .loc_label {
      width: $labelWidth;
    }

    &.loc--sex .loc_container,
    &.loc--grafted .loc_container,
    &.loc--sterilized .loc_container,
    &.loc--kind .loc_container,
    &.loc--status .loc_container, {
      // width: 330px;
    }
  }

  .loc_formCheckboxItem {
    .loc--checkbox {
      width: $formElWidth;
    }

    .loc_label {
      width: $labelWidth;
    }

  }

  .loc_formVideoItem {

    margin-bottom: 24px;

    .loc_label, .loc_error, .loc_video {
      width: $formElWidth;
    }

    .loc_labelTitle {
      width: $labelWidth;
    }
  }
}
