.component-datePicker {
  display: flex;
  justify-content: space-between;

  .loc_label {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }

  input {
    border-radius: 99px;
    padding: 0 16px;
    font-size: 16px;
    height: 40px;
    width: 219px;
  }

  .react-datepicker__month-text {
    padding: 16px 8px;

  }

  .react-datepicker-year-header {
    font-size: 26px;
  }

  .react-datepicker__navigation {
    height: 48px;
    width: 48px;

    &-icon::before {
      top: 8px;
    }
  }

  .loc_popper {
    .react-datepicker__month--selected:hover {
      color: $c_white;
    }

  }
}

.layout.loc--isMobile .component-datePicker {
  .loc_label {
    line-height: calc(44px * var(--viewport-koeff));
    font-size: calc(30px * var(--viewport-koeff));
    padding-right: calc(20px * var(--viewport-koeff));
    display: flex;
    align-items: center;
  }

  input {
    border-radius: calc(99px * var(--viewport-koeff));
    padding: 0 calc(32px * var(--viewport-koeff));
    font-size: calc(30px * var(--viewport-koeff));
    height: calc(80px * var(--viewport-koeff));
    width: calc(350px * var(--viewport-koeff));
  }

  .loc_popper {
    width: calc(600px * var(--viewport-koeff));

    .react-datepicker {
      width: 100%;

      &-year-header {
        font-size: calc(50px * var(--viewport-koeff));
        line-height: calc(80px * var(--viewport-koeff));
      }

      &__month-container {
        width: 100%;

        .react-datepicker__month-text {
          font-size: calc(30px * var(--viewport-koeff));
          width: 33%;
          margin: 0;
          padding: calc(32px * var(--viewport-koeff)) calc(24px * var(--viewport-koeff));

        }
      }
    }
  }


  .react-datepicker__month-text {
    padding: calc(16px * var(--viewport-koeff)) calc(8px * var(--viewport-koeff));

  }

  .react-datepicker-year-header {
    font-size: calc(26px * var(--viewport-koeff));
  }

  .react-datepicker__navigation {
    height: calc(60px * var(--viewport-koeff));
    width: calc(60px * var(--viewport-koeff));
    top: calc(12px * var(--viewport-koeff));

    &-icon {
      top: calc(22px * var(--viewport-koeff));
      right: 0;
      font-size: calc(47px * var(--viewport-koeff));

      &--previous::before {
        top: 0px;
        left: 0;
        width: calc(30px * var(--viewport-koeff));
        height: calc(30px * var(--viewport-koeff));
      }

      &--next::before {
        top: 0px;
        left: calc(-30px * var(--viewport-koeff));
        width: calc(30px * var(--viewport-koeff));
        height: calc(30px * var(--viewport-koeff));
      }

    }
  }


}
