.component-tabs {
  .react-tabs {
    &__tab {
      display: flex;
      align-items: center;
      padding: 12px;
      background-color: $c_pistachioMedium;
      margin-right: 8px;
      border: 0;
      gap: 8px;
      border-radius: 8px 8px 0 0;
      font-size: 16px;
      font-weight: 600;

      &:not(&--selected):hover {
        background-color: $c_pistachio;
      }

      &:after {
        height: 0;
      }

      img {
        border-radius: 8px;
      }

      &--selected {
        background-color: $c_greenMedium;
        color: $c_white;
        padding-bottom: 8px;
        border-bottom: 4px solid $c_greenMedium;
      }

      &-list {
        border-bottom: 0;
        margin-bottom: 0;

        .react-tabs__tab {
          &[data-position="left"] {
            float: left;
          }

          &[data-position="right"] {
            float: right;
            margin: 0 0 0 8px;
          }
        }
      }

      &-panel--selected {
        display: block;
        padding: 16px;
        background: $c_pistachioLight;
        //border: 1px solid $c_pistachioMedium;
        z-index: 1;
        position: relative;
        border-radius: 0 8px 4px 4px;
      }
    }
  }
}


.layout.loc--isMobile .component-tabs {
  .react-tabs {
    &__tab {
      padding: calc(24px * var(--viewport-koeff)) calc(16px * var(--viewport-koeff));
      margin-right: calc(8px * var(--viewport-koeff));
      gap: calc(8px * var(--viewport-koeff));
      border-radius: calc(8px * var(--viewport-koeff)) calc(8px * var(--viewport-koeff)) 0 0;
      font-size: calc(16px * var(--viewport-koeff));

      img {
        border-radius: calc(8px * var(--viewport-koeff));
      }

      &--selected {
        padding-bottom: calc(16px * var(--viewport-koeff));
        border-bottom: calc(8px * var(--viewport-koeff)) solid $c_greenMedium;
      }

      &-list {
        .react-tabs__tab {
          &[data-position="right"] {
            margin: 0 0 0 calc(8px * var(--viewport-koeff));
          }
        }
      }

      &-panel--selected {
        padding: calc(24px * var(--viewport-koeff));
        border-radius: 0 calc(8px * var(--viewport-koeff)) calc(4px * var(--viewport-koeff)) calc(4px * var(--viewport-koeff));
      }
    }
  }
}
