@import 'src/styles/variables.scss';

.component-inputFileVideo {
  margin-top: 24px;
  display: flex;


  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;


  .loc_error {
    padding: 16px 0 16px 0 !important;
    font-size: 14px;
    color: $c_red;

    margin-left: auto;

    .loc_errorFileName {
      color: $c_main;
    }
  }


  .loc_label {
    input[type=file] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
    }

    /* Focus */
    input[type=file]:focus + .loc_selectFile {
      box-shadow: 0 0 0 1px $c_blueLight;
    }

    /* Hover/active */
    &:hover .loc_selectFile {
      background-color: $c_green;
    }

    &:active .loc_selectFile {
      background-color: $c_greenDark;
    }

    /* Disabled */
    input[type=file]:disabled + .loc_selectFile {
      background-color: $c_greyMedium;
    }


    .loc_selectFile {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      text-decoration: none;
      font-size: 14px;
      vertical-align: middle;
      color: $c_white;
      text-align: center;
      border-radius: 4px;
      background-color: $c_greenMedium;
      line-height: 24px;
      padding: 8px 16px;
      box-sizing: border-box;
      border: none;
      transition: $transition;
    }
  }


  .loc_video {
    padding-top: 16px;
    margin-left: auto;
    .loc_name {

      color: $c_greenDark;
      
      &.loc--existed {
        color: $c_lagunaBlue;
      }
    }
    .loc_deleteButton {
      color: $c_red;
      width: fit-content;
      @extend %hoverableRed;
    }
  }
}
