.component-notFound {
width: 100%;
display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
  .loc_descr {
    font-size: 24px;
    font-weight: 600;
    margin-top: 32px;
  }

  img {


  }
}
