.page-administration_collections_update {

  h1 {
    margin: 16px 0 32px 0;
  }

  .loc_gotopageButton {
    float: right;
  }

  .loc_error {
    color: $c_red;
    padding: 16px 0px;

  }

  .loc_wrapper_textForm {

    .loc_buttons {
      display: flex;
      margin-top: 36px;

      .loc_saveButton {
        // width: 200px;
      }


      .loc_deleteButton {
        margin-left: auto;
      }

      .loc_cancelButton {
        margin-left: 24px;
      }

    }

  }

  .loc_wrapper_updatedSuccess {
    .loc_addElseButton {
      margin: 24px 0;
    }
  }

  .loc_wrapper_removedSuccess {

    .loc_addElseButton {
      margin: 24px 0;
    }
  }

  &_deleteModal {
    .loc_buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 32px;
    }

  }
}


.layout.loc--isMobile .page-administration_collections_update {
  width: 100%;
  padding: 0;


  h1 {
    margin: calc(16px * var(--viewport-koeff)) 0 calc(32px * var(--viewport-koeff)) 0;
  }

  .loc_wrapper_textForm {

    .loc_buttons {

      margin-top: calc(36px * var(--viewport-koeff));

      .loc_cancelButton {
        margin-left: calc(24px * var(--viewport-koeff));
      }

    }

  }

  .loc_gotopageButton {
    float: none;
    margin-top: calc(24px * var(--viewport-koeff));
  }

  .loc_form {
    flex-direction: column;

    .loc_left, .loc_right {
      padding: 0 !important;
      width: 100%;

      .loc_formInputItem, .loc_formCheckboxItem, .loc_formDateItem, .loc_formSelectItem, .loc_formTextareaItem, .loc_formVideoItem {
        margin-bottom: calc(48px * var(--viewport-koeff));
      }


      .loc__shortdescription {
        textarea {
          height: 30vh;

        }

      }

      .loc__fulldescription {


      }
    }
  }

  .loc_photos {
    flex-direction: column;



    .loc_left, .loc_right {
      width: 100%;
      padding: 0 !important;
      margin-top: calc(48px * var(--viewport-koeff));


      .loc_images {
        gap: calc(24px * var(--viewport-koeff));
      }



      .component-inputFileImage {
        margin: 0;
      }

    }

    .loc_error {
      padding: calc(32px * var(--viewport-koeff)) 0px;
    }
  }

  .loc_error {
    padding: calc(32px * var(--viewport-koeff)) 0;
    font-size: calc(32px * var(--viewport-koeff));
  }

  .loc_buttons {
    margin: calc(64px * var(--viewport-koeff)) 0 calc(24px * var(--viewport-koeff)) 0;
  }

  .loc_wrapper_updatedSuccess, .loc_wrapper_removedSuccess {
    font-size: calc(40px * var(--viewport-koeff));
    line-height: calc(56px * var(--viewport-koeff));

    .loc_addElseButton {
      margin: calc(48px * var(--viewport-koeff)) 0;
    }
  }
}

.page-administration_collections_update_deleteModal .component-modal--isMobile{
  .loc_buttons {
    margin-top: calc(32px * var(--viewport-koeff));
  }
}
