.page-home_collections {

  .loc_block {
    //background-color: $c_pistachioLight;
    padding: 0;
  }

  .loc_wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    cursor: pointer;
  }

  .loc_title {
    margin: 0 0 8px 0px;
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: $c_lagunaGrey;
    @extend %hoverable;
  }

  .loc_item {
    display: flex;
    background-color: $c_white;
    flex-direction: column;

    .loc_image {
      width: 50%;

      img {
        max-width: 100%;
        cursor: pointer;
        width: 192px;
        height: 192px;
      }

    }

    .loc_name {
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      color: $c_lagunaGrey;

      &:hover {
        color: $c_lagunaBlue;
      }
    }

    .loc_content {
      width: 50%;
      padding-left: 16px;
      overflow: hidden;

      .loc_data {
        font-weight: 400;
        font-size: 14px;

        .loc_collected, .loc_need {
          margin-top: 4px;
          font-style: Italic;

          .loc_val {
            font-weight: 600;
            color: $c_orange;
            font-style: normal;
          }
        }

        .loc_need {
          .loc_val {
            color: $c_lagunaDark;
          }
        }

        .loc_description {
          margin-top: 8px;
          color: $c_grey;
          font-size: 13px;
          line-height: 18px;
          -webkit-line-clamp: 4;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }


    }


  }

  .loc_seeAll {
    color: $c_lagunaDark;
    @extend %hoverable;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    margin-top: -4px;

    svg {
      height: 12px;
    }
  }

  margin-bottom: 24px;
}


.layout.loc--isMobile .page-home_collections {
  margin-bottom: calc(32px * var(--viewport-koeff));

  .loc_title {
    font-size: calc(36px * var(--viewport-koeff));
    margin-bottom: calc(16px * var(--viewport-koeff));
  }

  .loc_block {

    display: flex;
    flex-wrap: wrap;

    .loc_item {
      width: 100%;

      .loc_content {
        width: calc(100% - calc(200px * var(--viewport-koeff)));
        padding-right: calc(24px * var(--viewport-koeff));

        padding-left: calc(16px * var(--viewport-koeff));

        .loc_data {
          font-size: calc(24px * var(--viewport-koeff));

          .loc_collected, .loc_need {
            margin-top: calc(4px * var(--viewport-koeff));

          }

          .loc_name {
            font-size: calc(32px * var(--viewport-koeff));
          }

          .loc_description {
            font-size: calc(22px * var(--viewport-koeff));
            line-height: calc(34px * var(--viewport-koeff));
            -webkit-line-clamp: 2;
            margin-top: calc(8px * var(--viewport-koeff));
          }
        }
      }

      .loc_image {
        width: auto;

        img {
          height: calc(200px * var(--viewport-koeff));
          width: calc(200px * var(--viewport-koeff));
        }
      }
    }

  }

  .loc_wrapper {
    margin-bottom: calc(24px * var(--viewport-koeff));
  }

  .loc_seeAll {

    gap: calc(16px * var(--viewport-koeff));
    font-size: calc(24px * var(--viewport-koeff));
    margin-top: calc(8px * var(--viewport-koeff));

    svg {
      height: calc(20px * var(--viewport-koeff));
    }
  }
}
