.page-home_vkGroup {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;

  .loc_title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 8px 0px;
    color: $c_greyDark;
  }

}

.layout.loc--isMobile .page-home_vkGroup {
  margin-top: calc(24px * var(--viewport-koeff));
  margin-bottom: calc(32px * var(--viewport-koeff));
  .loc_title {
    font-size: calc(28px * var(--viewport-koeff));
    margin-bottom: calc(16px * var(--viewport-koeff));
  }
}
