.component-WYSIWYGEditor {
  &.loc--isMobileVersion .sun-editor {
    border: 2px solid #df00ff;
  }

  label {
    line-height: 20px;
    padding-bottom: 16px;
    display: block;
  }

  .loc_wrapper {
    width: 100%;

  }

  .se-component.se-video-container.__se__float-none,
  .se-component.se-video-container.__se__float-left,
  .se-component.se-video-container.__se__float-center,
  .se-component.se-video-container.__se__float-right {
    width: 100% !important;

    figure {
      padding-bottom: 0 !important;
      margin: 0 !important;
      min-height: 400px !important;
    }
  }
}

.layout.loc--isMobile .component-WYSIWYGEditor {
  label {
    line-height: calc(44px * var(--viewport-koeff));
    font-size: calc(30px * var(--viewport-koeff));
    padding-bottom: calc(16px * var(--viewport-koeff));
  }


}
