.page-administration_news_form_component {
  .loc_form,
  .loc_photos {
    display: flex;
    flex-wrap: wrap;
  }
  
  .loc_form {
    .loc_left {
      width: 45%;
      padding-right: 32px;
    }
    .loc_right {
      width: 55%;
      padding-left: 32px;
    }
  }
  
  
  .loc_photos {
    flex-wrap: wrap;
    margin-top: 24px;
    h2 {
      width: 100%
    }

  }
  
  
  .loc_formInputItem {
    margin-bottom: 24px;

    input {
      width: 70%;
    }
    label {
      width: 30%;
    }
  }


  
  .loc_formTextareaItem {
    margin-bottom: 24px;

    textarea {
      width: 70%;
    }
    label {
      width: 30%;
    }
    &.loc__shortdescription textarea {
      height: 193px;
    }
    &.loc__fulldescription {
      width: 100%;
      margin-top: 24px;
      label {
        width: 152px;
      }
      textarea {
        width: calc(100% - 152px);
        height: 340px;
      }
    }
  }
  
  .loc_formSelectItem {
    margin-bottom: 24px;

    .loc_select {
      width: 70%;
    }
    label {
      width: 30%;
    }
    &.loc--sex .loc_container,
    &.loc--grafted .loc_container,
    &.loc--sterilized .loc_container,
    &.loc--category .loc_container,
    &.loc--status .loc_container, {
      // width: 330px;
    }
  }

  .loc_formCheckboxItem {
    height: 40px;
    margin-bottom: 24px;
    .loc--checkbox {
      width: 70%;
    }
    .loc_label {
      width: 30%;
    }
  }

  .loc_formVideoItem {

    margin-bottom: 24px;

    .loc_label, .loc_error, .loc_video {
      width: 70%;
    }

    .loc_labelTitle {
      width: 30%;
    }
  }
}
