//for (var i=0; i< 100; i++) {
//  console.log('@media screen and (min-width: '+(startmin + 40*i + 1)+'px) and (max-width:'+(startmin + 40*(i+1))+'px) {--viewport-koeff: ' + (startmin + 20 + 40*i)/1000+';}');
//}
:root {
  @media screen and (max-width: 340px) {
    --viewport-koeff: 0.32;
  }
  @media screen and (min-width: 341px) and (max-width: 380px) {
    --viewport-koeff: 0.36;
  }
  @media screen and (min-width: 381px) and (max-width: 420px) {
    --viewport-koeff: 0.4;
  }
  @media screen and (min-width: 421px) and (max-width: 460px) {
    --viewport-koeff: 0.44;
  }
  @media screen and (min-width: 461px) and (max-width: 500px) {
    --viewport-koeff: 0.48;
  }
  @media screen and (min-width: 501px) and (max-width: 540px) {
    --viewport-koeff: 0.52;
  }
  @media screen and (min-width: 541px) and (max-width: 580px) {
    --viewport-koeff: 0.56;
  }
  @media screen and (min-width: 581px) and (max-width: 620px) {
    --viewport-koeff: 0.6;
  }
  @media screen and (min-width: 621px) and (max-width: 660px) {
    --viewport-koeff: 0.64;
  }
  @media screen and (min-width: 661px) and (max-width: 700px) {
    --viewport-koeff: 0.68;
  }
  @media screen and (min-width: 701px) and (max-width: 740px) {
    --viewport-koeff: 0.72;
  }
  @media screen and (min-width: 741px) and (max-width: 780px) {
    --viewport-koeff: 0.76;
  }
  @media screen and (min-width: 781px) and (max-width: 820px) {
    --viewport-koeff: 0.8;
  }
  @media screen and (min-width: 821px) and (max-width: 860px) {
    --viewport-koeff: 0.84;
  }
  @media screen and (min-width: 861px) and (max-width: 900px) {
    --viewport-koeff: 0.88;
  }
  @media screen and (min-width: 901px) and (max-width: 940px) {
    --viewport-koeff: 0.92;
  }
  @media screen and (min-width: 941px) and (max-width: 980px) {
    --viewport-koeff: 0.96;
  }
  @media screen and (min-width: 981px) and (max-width: 1020px) {
    --viewport-koeff: 1;
  }
  @media screen and (min-width: 1021px) and (max-width: 1060px) {
    --viewport-koeff: 1.04;
  }
  @media screen and (min-width: 1061px) and (max-width: 1100px) {
    --viewport-koeff: 1.08;
  }
  @media screen and (min-width: 1101px) and (max-width: 1140px) {
    --viewport-koeff: 1.12;
  }
  @media screen and (min-width: 1141px) and (max-width: 1180px) {
    --viewport-koeff: 1.16;
  }
  @media screen and (min-width: 1181px) and (max-width: 1220px) {
    --viewport-koeff: 1.2;
  }
  @media screen and (min-width: 1221px) and (max-width: 1260px) {
    --viewport-koeff: 1.24;
  }
  @media screen and (min-width: 1261px) and (max-width: 1300px) {
    --viewport-koeff: 1.28;
  }
  @media screen and (min-width: 1301px) and (max-width: 1340px) {
    --viewport-koeff: 1.32;
  }
  @media screen and (min-width: 1341px) and (max-width: 1380px) {
    --viewport-koeff: 1.36;
  }
  @media screen and (min-width: 1381px) and (max-width: 1420px) {
    --viewport-koeff: 1.4;
  }
  @media screen and (min-width: 1421px) and (max-width: 1460px) {
    --viewport-koeff: 1.44;
  }
  @media screen and (min-width: 1461px) and (max-width: 1500px) {
    --viewport-koeff: 1.48;
  }
  @media screen and (min-width: 1501px) and (max-width: 1540px) {
    --viewport-koeff: 1.52;
  }
  @media screen and (min-width: 1541px) and (max-width: 1580px) {
    --viewport-koeff: 1.56;
  }
  @media screen and (min-width: 1581px) and (max-width: 1620px) {
    --viewport-koeff: 1.6;
  }
  @media screen and (min-width: 1621px) and (max-width: 1660px) {
    --viewport-koeff: 1.64;
  }
  @media screen and (min-width: 1661px) and (max-width: 1700px) {
    --viewport-koeff: 1.68;
  }
  @media screen and (min-width: 1701px) and (max-width: 1740px) {
    --viewport-koeff: 1.72;
  }
  @media screen and (min-width: 1741px) and (max-width: 1780px) {
    --viewport-koeff: 1.76;
  }
  @media screen and (min-width: 1781px) and (max-width: 1820px) {
    --viewport-koeff: 1.8;
  }
  @media screen and (min-width: 1821px) and (max-width: 1860px) {
    --viewport-koeff: 1.84;
  }
  @media screen and (min-width: 1861px) and (max-width: 1900px) {
    --viewport-koeff: 1.88;
  }
  @media screen and (min-width: 1901px) and (max-width: 1940px) {
    --viewport-koeff: 1.92;
  }
  @media screen and (min-width: 1941px) and (max-width: 1980px) {
    --viewport-koeff: 1.96;
  }
  @media screen and (min-width: 1981px) and (max-width: 2020px) {
    --viewport-koeff: 2;
  }
  @media screen and (min-width: 2021px) and (max-width: 2060px) {
    --viewport-koeff: 2.04;
  }
  @media screen and (min-width: 2061px) and (max-width: 2100px) {
    --viewport-koeff: 2.08;
  }
  @media screen and (min-width: 2101px) and (max-width: 2140px) {
    --viewport-koeff: 2.12;
  }
  @media screen and (min-width: 2141px) and (max-width: 2180px) {
    --viewport-koeff: 2.16;
  }
  @media screen and (min-width: 2181px) and (max-width: 2220px) {
    --viewport-koeff: 2.2;
  }
  @media screen and (min-width: 2221px) and (max-width: 2260px) {
    --viewport-koeff: 2.24;
  }
  @media screen and (min-width: 2261px) and (max-width: 2300px) {
    --viewport-koeff: 2.28;
  }
  @media screen and (min-width: 2301px) and (max-width: 2340px) {
    --viewport-koeff: 2.32;
  }
  @media screen and (min-width: 2341px) and (max-width: 2380px) {
    --viewport-koeff: 2.36;
  }
  @media screen and (min-width: 2381px) and (max-width: 2420px) {
    --viewport-koeff: 2.4;
  }
  @media screen and (min-width: 2421px) and (max-width: 2460px) {
    --viewport-koeff: 2.44;
  }
  @media screen and (min-width: 2461px) and (max-width: 2500px) {
    --viewport-koeff: 2.48;
  }
  @media screen and (min-width: 2501px) and (max-width: 2540px) {
    --viewport-koeff: 2.52;
  }
  @media screen and (min-width: 2541px) and (max-width: 2580px) {
    --viewport-koeff: 2.56;
  }
  @media screen and (min-width: 2581px) and (max-width: 2620px) {
    --viewport-koeff: 2.6;
  }
  @media screen and (min-width: 2621px) and (max-width: 2660px) {
    --viewport-koeff: 2.64;
  }
  @media screen and (min-width: 2661px) and (max-width: 2700px) {
    --viewport-koeff: 2.68;
  }
  @media screen and (min-width: 2701px) and (max-width: 2740px) {
    --viewport-koeff: 2.72;
  }
  @media screen and (min-width: 2741px) and (max-width: 2780px) {
    --viewport-koeff: 2.76;
  }
  @media screen and (min-width: 2781px) and (max-width: 2820px) {
    --viewport-koeff: 2.8;
  }
  @media screen and (min-width: 2821px) and (max-width: 2860px) {
    --viewport-koeff: 2.84;
  }
  @media screen and (min-width: 2861px) and (max-width: 2900px) {
    --viewport-koeff: 2.88;
  }
  @media screen and (min-width: 2901px) and (max-width: 2940px) {
    --viewport-koeff: 2.92;
  }
  @media screen and (min-width: 2941px) and (max-width: 2980px) {
    --viewport-koeff: 2.96;
  }
  @media screen and (min-width: 2981px) and (max-width: 3020px) {
    --viewport-koeff: 3;
  }
  @media screen and (min-width: 3021px) and (max-width: 3060px) {
    --viewport-koeff: 3.04;
  }
  @media screen and (min-width: 3061px) and (max-width: 3100px) {
    --viewport-koeff: 3.08;
  }
  @media screen and (min-width: 3101px) and (max-width: 3140px) {
    --viewport-koeff: 3.12;
  }
  @media screen and (min-width: 3141px) and (max-width: 3180px) {
    --viewport-koeff: 3.16;
  }
  @media screen and (min-width: 3181px) and (max-width: 3220px) {
    --viewport-koeff: 3.2;
  }
  @media screen and (min-width: 3221px) and (max-width: 3260px) {
    --viewport-koeff: 3.24;
  }
  @media screen and (min-width: 3261px) and (max-width: 3300px) {
    --viewport-koeff: 3.28;
  }
  @media screen and (min-width: 3301px) and (max-width: 3340px) {
    --viewport-koeff: 3.32;
  }
  @media screen and (min-width: 3341px) and (max-width: 3380px) {
    --viewport-koeff: 3.36;
  }
  @media screen and (min-width: 3381px) and (max-width: 3420px) {
    --viewport-koeff: 3.4;
  }
  @media screen and (min-width: 3421px) and (max-width: 3460px) {
    --viewport-koeff: 3.44;
  }
  @media screen and (min-width: 3461px) and (max-width: 3500px) {
    --viewport-koeff: 3.48;
  }
  @media screen and (min-width: 3501px) and (max-width: 3540px) {
    --viewport-koeff: 3.52;
  }
  @media screen and (min-width: 3541px) and (max-width: 3580px) {
    --viewport-koeff: 3.56;
  }
  @media screen and (min-width: 3581px) and (max-width: 3620px) {
    --viewport-koeff: 3.6;
  }
  @media screen and (min-width: 3621px) and (max-width: 3660px) {
    --viewport-koeff: 3.64;
  }
  @media screen and (min-width: 3661px) and (max-width: 3700px) {
    --viewport-koeff: 3.68;
  }
  @media screen and (min-width: 3701px) and (max-width: 3740px) {
    --viewport-koeff: 3.72;
  }
  @media screen and (min-width: 3741px) and (max-width: 3780px) {
    --viewport-koeff: 3.76;
  }
  @media screen and (min-width: 3781px) and (max-width: 3820px) {
    --viewport-koeff: 3.8;
  }
  @media screen and (min-width: 3821px) and (max-width: 3860px) {
    --viewport-koeff: 3.84;
  }
  @media screen and (min-width: 3861px) and (max-width: 3900px) {
    --viewport-koeff: 3.88;
  }
  @media screen and (min-width: 3901px) and (max-width: 3940px) {
    --viewport-koeff: 3.92;
  }
  @media screen and (min-width: 3941px) and (max-width: 3980px) {
    --viewport-koeff: 3.96;
  }
  @media screen and (min-width: 3981px) and (max-width: 4020px) {
    --viewport-koeff: 4;
  }
  @media screen and (min-width: 4021px) and (max-width: 4060px) {
    --viewport-koeff: 4.04;
  }
  @media screen and (min-width: 4061px) and (max-width: 4100px) {
    --viewport-koeff: 4.08;
  }
  @media screen and (min-width: 4101px) and (max-width: 4140px) {
    --viewport-koeff: 4.12;
  }
  @media screen and (min-width: 4141px) and (max-width: 4180px) {
    --viewport-koeff: 4.16;
  }
  @media screen and (min-width: 4181px) and (max-width: 4220px) {
    --viewport-koeff: 4.2;
  }
  @media screen and (min-width: 4221px) and (max-width: 4260px) {
    --viewport-koeff: 4.24;
  }
  @media screen and (min-width: 4261px) and (max-width: 4300px) {
    --viewport-koeff: 4.28;
  }
  @media screen and (min-width: 4301px) and (max-width: 4340px) {
    --viewport-koeff: 4.32;
  }
  @media screen and (min-width: 4341px) {
    --viewport-koeff: 4.36;
  }
}
