$layout_1_header_height:197px;
$layout_1_footer_height:197px;
$layout_1_height_addition_mobile:285px;



//####### --> шрифт #######
$font_main: 'OpenSans';
$font_light: 300;
$font_regular: 400;
$font_semi_bold: 600;
$font_bold: 700;
$font_extra_bold: 800;
//####### <-- шрифт #######

$c_main: #011403;
$c_head: #5F6F6B;
$c_white: #ffffff;
$c_black: #000;
$c_greyDF: #dfdfdf;
$c_greyEF: #EfEfEf;
$c_greyF5: #f5f5f5;

$c_greyLight: #ccc;
$c_greyMediumLight: #b3b3b3;
$c_greyMedium: #999;
$c_grey: #666;
$c_greyDark: #333;



$c_pistachioLighter: #f5f8f9;
$c_pistachioLight: #eff6ee;
$c_pistachioMiddleLighter: #e8f1e8;
$c_pistachioMiddleLight: #d9ead8;
$c_pistachio: #ddebdc;
$c_pistachioDisabled: #f2ffe9;
$c_pistachioFresh: #c0f3be;
$c_pistachioFreshLighter: #eeffed;
$c_pistachioFreshLight: #d7eed6;
$c_pistachioMedium: #c8e1c6;
$c_pistachioMediumDark: #b3ccb2;
$c_pistachioDark: #ade0aa;

$c_pink: #ec01c7;
$c_pinkLight: #ff29dc;
$c_pinkPiggy: #ecddeb;

$c_blue: #1538E1;
$c_blueLight: #3A59EF;
$c_greenLight: #1fe50f;
$c_green: #0FC600;
$c_greenMedium: #0ba200;
$c_greenDark: #087e00;
$c_orange: #ff8000;
$c_orangeLight: #ff9e4f;
$c_yellow: #e3bc24;
$c_yellowLight: #efd862;
$c_sand: #f8f7e2;
$c_sandLight: #fffaef;

$c_lagunaGreyLighter: #eaf4f4;
$c_lagunaGreyLight: #e2ecec;
$c_lagunaLighter: #f7fdff;
$c_lagunaLightMiddle: #e7f0fc;
$c_lagunaLight: #C8EAFFFF;
$c_lagunaBlueDark: #4574af;
$c_lagunaBlue: #5580B7;
$c_lagunaBlueLight: #7096c7;
$c_lagunaGrey: #305d77;
$c_lagunaDark: #006199;



$c_red: #FF0000;
$c_redLight: #ff5e5e;

$transition: all .2s linear;
