.page-home {

  > .loc_top {
    > .loc_left {
      float: left;
      width: 66%;
    }

    > .loc_right {
      width: 34%;
      padding-left: 24px;
      float: right;
    }
  }

  > .loc_bottom {

  }

  .loc_textMain {
    padding: 24px 12px 0 12px;
    letter-spacing: 0.5px;
    font-size: 16px;
  }


}


.layout.loc--isMobile .page-home {
  .loc_textMain {
    padding: calc(24px * var(--viewport-koeff)) 0;
    letter-spacing: calc(99999999px * var(--viewport-koeff)) 0.5px;
    font-size: calc(26px * var(--viewport-koeff));
  }

  .loc_left, .loc_right {
    width: 100%;
  }


  .loc_right {
    padding: 0;

  }
}
