.page-help {
  .loc_target {
    font-size: 14px;
    padding: 16px;
    width: 100%;
    background-color: $c_lagunaLighter;
    margin-bottom: 24px;
    border: 1px solid $c_sand;
    border-radius: 8px;

    &Name {
      font-weight: 600;
    }

    .loc_selected {

      margin-bottom: 16px;
    }

    .loc_description {


      .loc_contact {
        font-weight: 600;
      }
      .loc_invalidIcon {
        height: 75px;
        display: inline-block;
      }
      .loc_smsExample {
        display: inline-block;
        width: fit-content;
        border-radius: 8px;
        background-color: $c_sand;
        padding: 8px;
        margin-top: 16px;
      }

      .loc_smsDescription {
        display: inline-block;
        margin-left: 16px;
        margin-top: 16px;
      }

    }

  }

  .loc_addDonator {
    font-size: 14px;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: $c_sandLight;
    padding: 16px;
    border: 1px solid $c_yellowLight;

    span {
      font-weight: 600;
    }
  }

  .loc_rekviz {


    .loc_image {
      height: 208px;

    }

    .loc_top {
      display: flex;
    }

    .loc_right {
      padding-top: 8px;

      .loc_item {
        &:first-child {

          margin-bottom: 16px;
        }

        font-size: 15px;

        .loc_sber, .loc_docs {
          padding: 0 16px;

          display: flex;
          flex-wrap: wrap;
          gap: 4px;

          img {
            width: 24px;
            height: 24px;
            margin-right: 4px;
          }

          .loc_title {
            font-weight: 600;
          }

          .loc_desc {
            width: 100%;

            span {
              margin-right: 8px;
            }
          }
        }
      }

    }

  }

  .loc_item_other {
    margin-top: 16px;
    width: 100%;


    .loc_title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 4px;
    }

    .loc_item {
      font-size: 14px;
      margin-top: 4px;

      .loc_name {
        font-weight: 600;
        margin-right: 4px;
      }
    }

  }
}


.layout.loc--isMobile .page-help {


  .loc_target {
    font-size: calc(26px * var(--viewport-koeff));
    line-height: calc(40px * var(--viewport-koeff));
    padding: calc(24px * var(--viewport-koeff));
    margin-bottom: calc(24px * var(--viewport-koeff));
    border-radius: calc(8px * var(--viewport-koeff));

    .loc_selected {
      margin-bottom: calc(16px * var(--viewport-koeff));
    }

    .loc_invalidIcon {
      height: calc(120px * var(--viewport-koeff));
    }
    .loc_smsExample {
      border-radius: calc(8px * var(--viewport-koeff));
      padding: calc(8px * var(--viewport-koeff));
      margin-top: calc(16px * var(--viewport-koeff));
    }


    .loc_smsDescription {
      display: inline-block;
      margin-left: calc(16px * var(--viewport-koeff));

      margin-top: calc(16px * var(--viewport-koeff));
    }
  }


  .loc_addDonator {
    font-size: calc(26px * var(--viewport-koeff));
    padding: calc(24px * var(--viewport-koeff));
    margin-bottom: calc(24px * var(--viewport-koeff));
    border-radius: calc(8px * var(--viewport-koeff));
  }


  .loc_rekviz {
    .loc_right {
      padding-top: calc(8px * var(--viewport-koeff));

      .loc_item {
        font-size: calc(22px * var(--viewport-koeff));

        &:first-child {

          margin-bottom: calc(16px * var(--viewport-koeff));
        }


        .loc_sber, .loc_docs {
          padding: 0 0 0 calc(24px * var(--viewport-koeff)) !important;


          gap: calc(4px * var(--viewport-koeff));

          img {
            width: calc(32px * var(--viewport-koeff)) !important;
            height: calc(32px * var(--viewport-koeff)) !important;;
            margin-right: calc(4px * var(--viewport-koeff));
          }


          .loc_desc {


            span {
              margin-right: calc(8px * var(--viewport-koeff));
            }
          }
        }
      }
    }

    .loc_image {
      height: calc(318px * var(--viewport-koeff));
    }


  }

  .loc_item_other {
    padding: 0;
    margin-bottom: calc(24px * var(--viewport-koeff));
    margin-top: calc(16px * var(--viewport-koeff));

    .loc_title {
      font-size: calc(22px * var(--viewport-koeff));
      margin-bottom: calc(4px * var(--viewport-koeff));
    }


    .loc_item {
      font-size: calc(22px * var(--viewport-koeff));
      margin-top: calc(4px * var(--viewport-koeff));

      .loc_name {
        margin-right: calc(4px * var(--viewport-koeff));
      }
    }
  }


}

