.component-loaderIcon {
  animation: spin 1s linear infinite;
  pointer-events: none;
  width: 30px;
  color: $c_green;
}

.layout.loc--isMobile .component-loaderIcon {
  width: calc(30px * var(--viewport-koeff));
}
