.component-mediaOriginalLinks {
  display: flex;
  gap: 16px;
  flex-direction: column;
  .loc_block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.layout.loc--isMobile .component-mediaOriginalLinks {
  gap: calc(24px * var(--viewport-koeff));
  padding-bottom: calc(32px * var(--viewport-koeff));
  font-size: calc(32px * var(--viewport-koeff));
  .loc_block {
    gap: calc(24px * var(--viewport-koeff));
  }
}
