.component-header {
  position: relative;
  width: 100%;
  min-width: 1200px;
  display: flex;
  background-color: $c_head;
  background: url("./images/background.css.jpg") repeat;

  .loc_wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    height: $layout_1_header_height;
    position: relative;
    z-index: 2;
    padding: 16px 0;
  }

  .loc_acquaintanceship {
    position: absolute;
    display: flex;
    justify-content: center;
    //width: 100%;
    top: calc(67px + 24px);
    right: 0;

    .loc_button {
      font-size: 16px;
      line-height: 36px;
      color: $c_greyDark;
      background-color: $c_yellowWhite;
      padding: 0 8px;
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 99px;
      //border: 1px solid $c_greyDark;
      //box-shadow: 2px 2px 6px #5b5a56;
      cursor: pointer;

      &:hover {
        background-color: $c_yellowSuperLite;
      }

      img {
        width: 22px;
        height: 22px;
      }

      //&::after {
      //  content: '';
      //  position: absolute;
      //  right: -36px;
      //  border: 18px solid transparent;
      //  border-left: 18px solid $c_white;
      //}
      //
      //&::before {
      //  content: '';
      //  position: absolute;
      //  left: -36px;
      //  border: 18px solid transparent;
      //  border-right: 18px solid $c_white;
      //}
    }
  }

  .loc_topPart {
    width: 100%;
    display: flex;
    height: calc(100% - 40px);

    .loc_logoText {
      width: calc(440px + 16px);
      display: flex;
      flex-wrap: wrap;
      padding-top: 4px;

      .loc_1 {
        width: 100%;
        font-size: 36px;
        font-weight: 700;
        color: $c_white;
      }

      .loc_2 {
        width: 100%;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: $c_white;
        padding-bottom: 8px;
      }
    }

    .loc_heartLine {
      height: 60px;
      width: 153px;
    }

    .loc_buttons {
      display: flex;
      margin-left: auto;
      width: 380px;
      justify-content: flex-end;
      margin-top: 10px;
      gap: 16px;
    }

    .loc_contacts {
      display: flex;
      margin-left: 16px;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      height: 40px;
      margin-top: 10px;
      background-color: $c_white;
      padding: 0 4px;
      border-radius: 20px;

      img {
        display: block;
        width: 32px;
        height: 32px;
      }
    }
  }

  .loc_bottomPart {
    width: 100%;
    display: flex;
    gap: 16px;
    height: 40px;
    justify-content: space-between;

    .loc_item, .loc_else {
      @extend %hoverableLagunaMiddle;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: $font_semi_bold;
      transition: $transition;
      display: flex;
      align-items: center;
      color: $c_white;

      &.loc--active {
        color: $c_lagunaMiddle;
      }
    }

    .loc_else {
      position: relative;

      .loc_caret {
        margin-left: 4px;
      }

      &.loc--opened {
        color: $c_lagunaMiddle;

        .loc_caret {
          transform: rotate(180deg);
          transition: $transition;
        }
      }

      .loc_subMenu {
        position: absolute;
        top: 48px;
        right: 0;
        text-align: left;
        background-color: $c_white;
        border-radius: 4px;
        border: 1px solid $c_main;

        a {
          color: $c_main;
          padding: 16px;

          &:hover {
            color: $c_lagunaBlue;
          }

          &.loc--active {
            color: $c_lagunaBlue;
          }
        }
      }

      .loc_overflow {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: default;
      }
    }
  }

  .loc_leftPart {
    width: 170px;
    margin-right: 32px;
    display: flex;
    justify-content: flex-start;

    .loc_logo {
      cursor: pointer;
      height: 165px;
    }
  }

  .loc_rightPart {
    width: calc(100% - 170px);
    flex-direction: column;
    display: flex;
  }
}

.component-headerMobile {
  width: 100%;
  background-color: $c_lagunaLightMiddle;
  margin-bottom: 0;

  .loc_wrapper {
    display: flex;
    width: 100%;
    gap: calc(32px * var(--viewport-koeff));
    position: relative;
    background-color: $c_head;
    background: url("./images/background.css.jpg") repeat;
    background-size: cover;
    padding: calc(24px * var(--viewport-koeff));
  }

  .loc_leftPart {
    width: calc(200px * var(--viewport-koeff));
    height: calc(200px * var(--viewport-koeff));
    display: flex;
    justify-content: flex-start;

    .loc_logo {
      cursor: pointer;
      height: 100%;
    }
  }

  .loc_rightPart {
    display: flex;
    gap: calc(8px * var(--viewport-koeff));
    justify-content: center;
    flex-direction: column;

    .loc_name {
      font-weight: 600;
      color: $c_white;
      font-size: calc(54px * var(--viewport-koeff));
      margin-bottom: calc(12px * var(--viewport-koeff));
    }

    .loc_description {
      font-weight: 500;
      color: $c_white;
      font-size: calc(32px * var(--viewport-koeff));
      line-height: calc(48px * var(--viewport-koeff));
    }
  }

  .loc_bottom {
    display: flex;
    padding: calc(40px * var(--viewport-koeff)) calc(24px * var(--viewport-koeff)) 0 calc(24px * var(--viewport-koeff));

    .loc_buttons {
      display: flex;
      margin-right: auto;
      width: calc(600px * var(--viewport-koeff));
      justify-content: flex-start;
      gap: calc(16px * var(--viewport-koeff));
    }

    .loc_contacts {
      display: flex;
      margin-left: auto;
      align-items: center;
      justify-content: flex-end;
      gap: calc(16px * var(--viewport-koeff));
      height: calc(56px * var(--viewport-koeff));

      img {
        display: block;
        width: calc(56px * var(--viewport-koeff));
        height: calc(56px * var(--viewport-koeff));
      }
    }
  }

  .loc_menu {
    display: flex;
    flex-wrap: wrap;
    gap: calc(40px * var(--viewport-koeff));
    justify-content: space-between;
    padding: calc(40px * var(--viewport-koeff)) calc(24px * var(--viewport-koeff)) calc(32px * var(--viewport-koeff)) calc(24px * var(--viewport-koeff));
    box-shadow: $boxShadowMobile;

    .loc_item, .loc_else {
      @extend %hoverableLagunaBlueDark;
      color: $c_main;
      font-size: calc(36px * var(--viewport-koeff));
      font-weight: 600;

      &.loc--active {
        color: $c_lagunaBlueDark;
      }
    }

    .loc_else {
      display: flex;
      align-items: center;
      gap: calc(8px * var(--viewport-koeff));

      .loc_caret {
        margin-top: calc(4px * var(--viewport-koeff));
      }

      &.loc--opened {
        color: $c_lagunaBlue;

        .loc_caret {
          transform: rotate(180deg);
          transition: $transition;
        }
      }
    }
  }

  .loc_subMenu {
    display: flex;
    gap: calc(36px * var(--viewport-koeff));
    flex-wrap: wrap;
    width: 100%;

    .loc_item {
      color: $c_main;
      font-size: calc(29px * var(--viewport-koeff));
      font-weight: 500;
    }

    &-1, &-2 {
      display: flex;
      width: 100%;
    }

    &-1 {
      justify-content: space-between;
    }

    &-2 {
      justify-content: space-between;
    }
  }

  .loc_acquaintanceship {
    display: flex;
    justify-content: center;
    width: 100%;

    .loc_button {
      font-size: calc(34px * var(--viewport-koeff));
      line-height: calc(80px * var(--viewport-koeff));
      color: $c_greyDark;
      background-color: $c_yellowWhite;
      padding: 0 calc(14px * var(--viewport-koeff));;
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 600;
      border-radius: calc(99px * var(--viewport-koeff));;
      border: 1px solid $c_greyMedium;
      //box-shadow: 2px 2px 6px #5b5a56;
      cursor: pointer;

      &:hover {
        background-color: $c_yellowSuperLite;
      }

      img {
        width: calc(50px * var(--viewport-koeff));;
        height: calc(50px * var(--viewport-koeff));;
      }

      //&::after {
      //  content: '';
      //  position: absolute;
      //  right: -36px;
      //  border: 18px solid transparent;
      //  border-left: 18px solid $c_white;
      //}
      //
      //&::before {
      //  content: '';
      //  position: absolute;
      //  left: -36px;
      //  border: 18px solid transparent;
      //  border-right: 18px solid $c_white;
      //}
    }
  }
}
