.page-contacts_form {
  width: 100%;

  .loc_success {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    height: 40px;
    margin-top: 2px;

    img {
      height: 30px;
      float: left;
    }
  }

  .loc_errorText {
    color: $c_red;
    width: 100%;
    text-align: center;
  }

  .loc_title {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  input {
    width: 100%;
    margin-bottom: 16px;
  }

  .component-textarea {
    margin-bottom: 16px;

    textarea {
      width: 100%;
      height: 239px;
    }
  }

  .loc_error {
    margin-bottom: 16px;
    color: $c_red;
    font-style: Italic;
  }

  .component-button {
    margin-top: 16px;
  }
}

.layout.loc--isMobile .page-contacts_form {
  width: 100%;

  .loc_title {
    font-size: calc(32px * var(--viewport-koeff));
    margin-top: calc(40px * var(--viewport-koeff));
    margin-bottom: calc(32px * var(--viewport-koeff));
  }

  .component-button {
    margin-top: calc(16px * var(--viewport-koeff));
  }

  .loc_error {
    font-size: calc(26px * var(--viewport-koeff));
    margin-bottom: calc(32px * var(--viewport-koeff));
  }

  .loc_success {
    gap: calc(8px * var(--viewport-koeff));
    height: calc(40px * var(--viewport-koeff));
    font-size: calc(26px * var(--viewport-koeff));
    justify-content: center;
    margin-top: calc(48px * var(--viewport-koeff));
    margin-bottom: calc(32px * var(--viewport-koeff));

    img {
      height: calc(30px * var(--viewport-koeff));
    }
  }

  img {
    height: calc(50px * var(--viewport-koeff));
  }

  .component-textarea {
    textarea {
      width: 100%;
      height: 40vh;
    }

    margin-bottom: calc(16px * var(--viewport-koeff));
  }

  input {
    margin-bottom: calc(32px * var(--viewport-koeff));
  }
}
