.page-home_photoSlider {
  .loc_wrapper {
    height: 749px;
    max-height: 80vh;

    .loc_slider {
      height: 100%;

      .swiper-slide {
        display: flex;
        background-color: $c_greyDark;
        align-items: center;
        justify-content: center;
        max-height: 80vh;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }

      .loc_wait {
        background-color: $c_greyDark;
      }


    }

    .component-mediaOriginalLinks {
      padding: 24px 12px 0 12px;
    }
  }
  .component-mediaOriginalLinks {
    padding: 12px 0 0 12px;
  }
}

.layout.loc--isMobile .page-home_photoSlider {
  .loc_wrapper {
    height: calc(900px * var(--viewport-koeff));
    max-height: 80vh;

    .loc_slider {
      margin: 0 calc(-24px * var(--viewport-koeff));
      height: 100%;

      .swiper-slide img {
        max-height: 100%;
      }
    }
  }
  .component-mediaOriginalLinks {
    padding: calc(24px * var(--viewport-koeff)) 0 0 0;
  }
}
