.page-home_help {
  margin-top: 24px;
  margin-bottom: 16px;
  width: 100%;

  > .loc_title {
    font-weight: 600;
    padding: 8px 8px 8px 12px;
    display: flex;
    align-items: center;
    color: $c_black;
    font-size: 22px;

    background-color: $c_greyEF;

    .loc_go {

      color: $c_lagunaDark;
      @extend %hoverable;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      margin-left: auto;

      svg {
        height: 12px;
      }

    }
  }

  .loc_content {

    background-color: $c_lagunaLighter;

    .loc_image {
      height: 242px;

    }

    .loc_top {
      display: flex;
    }

    .loc_right {

      .loc_item {
        margin-top: 16px;
        font-size: 15px;

        .loc_sber, .loc_docs {
          padding: 0 16px;

          display: flex;
          flex-wrap: wrap;
          gap: 4px;

          img {
            width: 24px;
            height: 24px;
            margin-right: 4px;
          }

          .loc_title {
            font-weight: 600;
          }

          .loc_desc {
            width: 100%;

            span {
              margin-right: 8px;
            }
          }
        }
      }

    }

  }

  .loc_item_other {
    padding: 16px;
    width: 100%;
    background-color: $c_sand;

    .loc_title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 4px;
    }

    .loc_item {
      font-size: 14px;
      margin-top: 4px;

      .loc_name {
        font-weight: 600;
        margin-right: 4px;
      }
    }

  }


}



.layout.loc--isMobile .page-home_help {
  margin-left: -24px;
  margin-right: -24px;
  margin-top: 8px;
  width: auto;

  > .loc_title {
    font-size: 32px;
    padding: 16px 24px;

    .loc_go {
      font-size: 24px;

      svg {
        height: 20px;
      }
    }
  }

  .loc_content {
    .loc_image {
      height: 332px;
    }

    .loc_item {
      font-size: 22px;
    }
  }

  .loc_item_other {
    padding: 16px 24px 24px 24px;

    .loc_title {
      font-size: 22px;
    }
    .loc_item {
      font-size: 22px;
    }
  }
  .loc_right {

    .loc_item {
  .loc_sber, .loc_docs {
    padding: 0 24px 0 16px;
    img {
      width: 32px ;
      height: 32px;
    }
  }
    }}
}
