.page-signin {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 300px;
  flex-wrap: wrap;

  .loc_errorText {
    color: $c_red;
    width: 100%;
    text-align: center;
  }

  .loc_title {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 32px;
    text-align: center;
  }

  input {
    width: 100%;
    margin-bottom: 16px;
    border: 1px solid $c_greyMedium;
    border-radius: 99px;
    padding: 0 16px;
    font-size: 16px;
    height: 40px;
  }

  .component-button {
    margin-top: 16px;
  }

}


.layout.loc--isMobile .page-signin {
  width: 60%;

  .loc_title {
    font-size: calc(40px * var(--viewport-koeff));
    margin: calc(56px * var(--viewport-koeff)) 0;

  }

  input {
    margin-bottom: calc(40px * var(--viewport-koeff));
    border: 1px solid $c_greyMedium;
    padding: 0 calc(32px * var(--viewport-koeff));
    font-size: calc(40px * var(--viewport-koeff));
    height: calc(80px * var(--viewport-koeff));
    border-radius: calc(99px * var(--viewport-koeff));
  }

  .component-button {
    margin-top: 0;
  }

  .loc_errorText {
    font-size: calc(40px * var(--viewport-koeff));
    margin-bottom: calc(24px * var(--viewport-koeff));
  }
}
