.page-documents_photoSlider {


  .swiper-slide {
    position: relative; 
    height: 900px;
    display: flex;
    background-color: $c_greyDark;
    max-height: 85vh;
    align-items: center;
    justify-content: center;

    img {
      max-height: calc(100% - 24px);
      max-width: 100%;
    }

    .loc_openButton {

      position: absolute; 
      top: 12px;
      right: 24px;
    }
  }

  .loc_wait {
    background-color: $c_greyDark;
  }
}

.layout.loc--isMobile .page-documents_photoSlider {
  margin: 0 calc(-24px * var(--viewport-koeff));

  .swiper-slide {
    height: 1200px;
    max-height: 85vh;
    img {
      max-height: calc(100% - calc(48px* var(--viewport-koeff)));
      max-width: calc(100% - calc(48px* var(--viewport-koeff)));
    }
    .loc_openButton {
      top: calc(32px* var(--viewport-koeff));
      right: calc(32px* var(--viewport-koeff));
    }
  }
}
