.page-stories_list {
  .component-loaderIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
  }
}


.layout.loc--isMobile .page-stories_list {


}

