.page-news_listItem {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  //background-color: $c_greyF5;
  border: 1px solid $c_lagunaGreyLight;
  border-radius: 8px;
  padding: 24px 24px 0 24px;
  &:hover:not(.loc--isShowed) {
    background-color: $c_lagunaWhite;
  }
  &.loc--non_published {
    background-color: $c_yellowLight;
  }

  .loc_created {
    font-size: 14px;
    color: $c_lagunaGrey;
  }

  .loc_name {
    font-size: 24px;
    margin: 4px 0 16px 0;
    font-weight: 600;
    color: $c_lagunaGrey;
    @extend %hoverable;
  }

  .loc_redactButton {
    margin: 0 0 16px 0;
  }
  .component-mediaOriginalLinks {
    margin-bottom: 16px;
  }
  .loc_short_description {
    color: $c_greyDark;
    font-size: 18px;
    line-height: 26px;


  }

  .loc_nonpublished {
    margin-bottom: 16px;
  }
  .loc_pin {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: default;
    img {
      height: 32px;
      width: 32px;
    }
  }
  .loc_description {
    color: $c_greyDark;
    font-size: 18px;
    line-height: 26px;

    .loc_content {
      padding-bottom: 4px;
    }

    //padding: 0 16px;
    //background-color: $c_pistachioLighter;
    //padding-bottom: 16px;
    //border: 1px solid $c_pistachio;
    cursor: default;

    .loc_slider {

      margin-bottom: 24px;

      .swiper-slide {
        display: flex;
        background-color: $c_greyDark;
        align-items: center;
        justify-content: center;
        height: 600px;
        max-height: 85vh;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
    }

    .loc_video {
      display: flex;
      width: 100%;
      margin-bottom: 24px;
      max-height: 600px;
      background-color: $c_greyDark;
    }

    .component-copyLinkToPage {
      width: 100%;
      padding-bottom: 24px;

      .loc_copyLinkButton {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
      }

      .loc_copyToBufferStatus {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
  }

  .loc_moreButton {
    margin-top: 0px;
    font-size: 16px;
    margin-bottom: 16px;
  }

  &.loc--isShowed {
    box-shadow: $boxShadowImportant;
    .loc_name {
      //text-decoration: underline;
      //color: $c_lagunaBlue;
    }

  }
}


.layout.loc--isMobile .page-news_listItem {
  border-radius: calc(16px * var(--viewport-koeff));
  padding: calc(24px * var(--viewport-koeff)) calc(24px * var(--viewport-koeff)) 0 calc(24px * var(--viewport-koeff));
  margin-bottom: calc(24px * var(--viewport-koeff));

  .loc_created {
    font-size: calc(24px * var(--viewport-koeff));
  }

  .loc_name {
    font-size: calc(38px * var(--viewport-koeff));
    margin: calc(8px * var(--viewport-koeff)) 0 calc(24px * var(--viewport-koeff)) 0;
  }

  .loc_short_description {
    font-size: calc(32px * var(--viewport-koeff));
    line-height: calc(42px * var(--viewport-koeff));
  }

  .loc_nonpublished {
    font-size: calc(26px * var(--viewport-koeff));
    margin-bottom: calc(16px * var(--viewport-koeff));
  }
  .loc_pin {

    top: calc(24px * var(--viewport-koeff));
    right: calc(24px * var(--viewport-koeff));
    img {
      height: calc(40px * var(--viewport-koeff));
      width: calc(40px * var(--viewport-koeff));
    }
  }
  .loc_description {
    .loc_content {
      p {
        font-size: calc(32px * var(--viewport-koeff));
        line-height: calc(42px * var(--viewport-koeff));
      }
      padding-bottom: calc(8px * var(--viewport-koeff));
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    font-size: calc(32px * var(--viewport-koeff));
    line-height: calc(42px * var(--viewport-koeff));

    .loc_slider {
      margin-top: calc(24px * var(--viewport-koeff));
      margin-bottom: calc(24px * var(--viewport-koeff));

      .swiper-slide {
        max-height: 85vh;
        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }

  .component-copyLinkToPage .loc_copyLinkButton {
    margin-left: auto;
    margin-right: auto;
  }

  .loc_moreButton {
    margin-top: calc(16px * var(--viewport-koeff));
    font-size: calc(26px * var(--viewport-koeff));
    margin-bottom: calc(24px * var(--viewport-koeff));
    padding: 0;
  }

  .loc_video {
    margin-bottom: calc(24px * var(--viewport-koeff));
    display: flex;
    width: 100%;
    height: 1200px;
    max-height: 85vh;
  }

  .component-copyLinkToPage {
    padding-top: calc(16px * var(--viewport-koeff));
    padding-bottom: calc(56px * var(--viewport-koeff));
  }

  .loc_redactButton {
    margin: 0 0 calc(24px * var(--viewport-koeff)) 0;
  }
  &.loc--isShowed {
    box-shadow: $boxShadowMobileImportant;
  }
}

