.page-pet_petsList {
  margin-bottom: 24px;
  height: 161px;

  .loc_wrapper {
    position: relative;
  }

  .loc_slider {
  }

  .swiper-slide {
    display: flex;
    background-color: $c_white;
    flex-direction: column;

    cursor: pointer;

    .loc_image {
      position: relative;

      img {
        width: 100%;
        max-width: 100%;
      }
      .loc_name {
        position: absolute;
        top: 0px;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 4px 8px;
        font-size: 12px;
        line-height: 24px;
        font-weight: 600;
        border-radius: 0 0 0 4px;
      }
      .loc_status {
        &.loc--status {
          &_1 {
            display: none;
          }

          &_2,
          &_3,
          &_4 {
            position: absolute;
            bottom: 0px;
            left: 0;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 4px 8px;
            font-size: 12px;
            line-height: 24px;
            font-weight: 600;
            border-radius: 0 4px 0 0;
          }

          &_2 {
            color: $c_red;
          }

          &_3,
          &_4 {
            color: $c_lagunaDark;
          }
        }
      }
    }
  }

  .loc_categoryName {
    max-width: 70px;
    font-size: 14px;
    margin-left: 8px;
  }

  .react-tabs__tab {
    &-panel {
      border-top-right-radius: 0;
    }
  }
}

.layout.loc--isMobile .page-pet_petsList {
  height: auto;
  margin-bottom: calc(24px * var(--viewport-koeff));

  .loc_slider {
    .loc_name {
      font-size: calc(28px * var(--viewport-koeff)) !important;
      padding: calc(8px * var(--viewport-koeff)) calc(16px * var(--viewport-koeff));
      line-height: calc(40px * var(--viewport-koeff));
    }
    .loc_status {
      &.loc--status {
        &_2,
        &_3,
        &_4 {
          border-radius: 0 calc(16px * var(--viewport-koeff)) 0 0;
          padding: calc(6px * var(--viewport-koeff)) calc(10px * var(--viewport-koeff));
          font-size: calc(20px * var(--viewport-koeff));
          line-height: calc(28px * var(--viewport-koeff));
        }
      }
    }
  }
}
