.page-administration_donators_filter {
  width: 100%;

  .loc_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    background-color: $c_lagunaBlue;
    padding: 8px 16px;
    border-radius: 8px;


    .loc_formInputItem, .loc_formSelectItem {

      .loc_label, label {
        color: $c_white;
      }


    }

    .loc--card {
      width: 330px;

      input {
        width: 100%;
      }

    }

    .loc--name {
      width: 450px;

      input {
        width: 100%;
      }

    }

    //.loc--order {
    //  .loc_select {
    //    width: 270px;
    //  }
    //
    //}
    .loc_resetButton {
      background-color: $c_lagunaBlue;
      color: $c_white;
      margin-left: auto;

      &:hover {
        background-color: $c_lagunaBlueLight;
      }

      &.component-button_disabled {
        background-color: $c_lagunaBlue;
        color: $c_lagunaLight;
      }
    }
  }
}


.layout.loc--isMobile .page-administration_donators_filter {
  .loc_wrapper {
    border-radius: calc(8px * var(--viewport-koeff));
    padding: calc(24px * var(--viewport-koeff));
    gap: calc(24px * var(--viewport-koeff));

    .loc_formSelectItem, .loc_formInputItem {
      width: 100%;
      padding: 0;

      .loc_select {
        width: 100%;
      }
    }
  }
}

