.page-clinic {
  .loc_vkGroup {
    margin-top: 8px;

    * {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        display: inline-block;
        height: 24px;
        width: 24px;
      }
    }
  }
}

.layout.loc--isMobile .page-clinic {
  font-size: calc(34px * var(--viewport-koeff));
  line-height: calc(56px * var(--viewport-koeff));
}
