$labelWidth: 34%;
$formElWidth: 66%;



.page-administration_collections_form_component {
  .loc_form,
  .loc_photos {
    display: flex;
    flex-wrap: wrap;
  }

  .loc_form {

    .loc_left {
      width: 45%;
      padding-right: 32px;
    }

    .loc_right {
      width: 55%;
      padding-left: 0px;
    }
  }

  .loc_photos {
    flex-wrap: wrap;
    margin-top: 24px;

    h2 {
      width: 100%
    }

    .loc_left {
      width: 35%;
      padding-right: 32px;
    }

    .loc_right {
      width: 65%;
      padding-left: 32px;
    }
  }

  .loc_formInputItem {
    margin-bottom: 24px;

    input {
      width: $formElWidth;
    }

    label {
      width: $labelWidth;
    }
  }

  .loc_formTextareaItem {
    margin-bottom: 24px;

    textarea {
      width: $formElWidth;
    }

    label {
      width: $labelWidth;
    }

    &.loc__shortdescription textarea {
      height: 103px;
    }

    &.loc__fulldescription textarea {
      height: 340px;
    }
  }

  .loc_formSelectItem {
    margin-bottom: 24px;

    .loc_select {
      width: $formElWidth;
    }

    .loc_label {
      width: $labelWidth;
    }
  }

  .loc_formCheckboxItem {
    .loc--checkbox {
      width: $formElWidth;
    }

    .loc_label {
      width: $labelWidth;
    }

  }

  .loc_formVideoItem {

    margin-bottom: 24px;

    .loc_label, .loc_error, .loc_video {
      width: $formElWidth;
    }

    .loc_labelTitle {
      width: $labelWidth;
    }
  }


  .loc_spending {
    width: 100%;
    padding: 16px;
    background-color: $c_lagunaLightMiddle;
    border: 1px solid $c_greyMediumLight;
    border-radius: 8px;
    margin-bottom: 24px;
    display: flex;
    gap: 24px;
    .loc_new_value {
      width: 48%;
      .form-element-description {
        text-align: left;
      }
    }
    .loc_total_spent,.loc_last_spening {
      line-height: 40px;
      width: 26%;
      font-size: 15px;
    }

    .loc_formInputItem {
      margin-bottom: 0px;

      input, .loc_description {
        width: calc(100% - 200px);
      }

      label {
        width: 200px;
      }
    }

  }
}


//
//.layout.loc--isMobile .page-administration_collections_form_component {
//
//  .loc_form {
//    .loc_left {
//      padding-right: calc(32px * var(--viewport-koeff));
//    }
//
//    .loc_right {
//      padding-left: calc(32px * var(--viewport-koeff));
//    }
//  }
//
//  .loc_photos {
//    margin-top: calc(24px * var(--viewport-koeff));
//
//    .loc_left {
//      padding-right: calc(32px * var(--viewport-koeff));
//    }
//
//    .loc_right {
//      padding-left: calc(32px * var(--viewport-koeff));
//    }
//  }
//
//  .loc_formInputItem {
//    margin-bottom: calc(24px * var(--viewport-koeff));
//  }
//
//  .loc_formTextareaItem {
//    margin-bottom: calc(24px * var(--viewport-koeff));
//
//    &.loc__shortdescription textarea {
//      height: calc(103px * var(--viewport-koeff));
//    }
//
//    &.loc__fulldescription textarea {
//      height: calc(340px * var(--viewport-koeff));
//    }
//  }
//
//  .loc_formSelectItem {
//    margin-bottom: calc(24px * var(--viewport-koeff));
//  }
//
//  .loc_formVideoItem {
//    margin-bottom: calc(24px * var(--viewport-koeff));
//  }
//}


