.page-story {

  .loc_item {

    width: 100%;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    //background-color: $c_greyF5;
    border: 1px solid $c_lagunaGrey;
    padding: 24px 24px 0 24px;

    &.loc--non_published {

      background-color: $c_yellowLight;

    }

    .loc_created {
      font-size: 14px;
      color: $c_lagunaGrey;
    }

    .loc_name {
      font-size: 24px;
      margin: 4px 0 0 0;
      font-weight: 600;
      color: $c_lagunaGrey;
      @extend %hoverable;
    }

    .loc_redactButton {
      margin: 24px 0 10px 0;
    }

    .loc_nonpublished {
      margin-bottom: 16px;
    }

    .loc_description {
      .loc_content {
        padding-bottom: 4px;
      }

      color: $c_greyDark;
      font-size: 18px;
      line-height: 26px;
      //padding: 0 16px;
      //background-color: $c_pistachioLighter;
      //padding-bottom: 16px;
      //border: 1px solid $c_pistachio;

      .loc_slider {
        margin-bottom: 24px;

        .swiper-slide {
          display: flex;
          background-color: $c_greyDark;
          align-items: center;
          justify-content: center;
          max-height: 80vh;

          img {
            height: 600px;
            max-height: 80vh;
            max-width: 100%;
          }
        }
      }

    }

    .loc_video {
      display: flex;
      width: 100%;
      margin-bottom: 24px;
      max-height: 600px;
      background-color: $c_greyDark;
    }

    .component-copyLinkToPage {
      width: 100%;
      padding-bottom: 24px;

      .loc_copyLinkButton {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
      }

      .loc_copyToBufferStatus {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
  }

  .loc_anotherTitle {
    font-size: 18px;
    margin: 4px 0;
    font-weight: 600;
    color: $c_greyDark;
    margin-bottom: 16px;
  }
}


.layout.loc--isMobile .page-story {
  .loc_anotherTitle {
    font-size: 32px;
    margin: 0 0 24px 0;
  }

  .loc_item {


    .loc_created {
      font-size: 24px;
    }

    .loc_name {
      font-size: 38px;
      margin: 8px 0 0 0;
    }


    .loc_nonpublished {
      font-size: 26px;
      margin-bottom: 16px;
    }

    .loc_description {
      .loc_content {
        padding-bottom: 8px;
      }

      font-size: 28px;
      line-height: 38px;

      .loc_slider {

        margin-bottom: 24px;

        .swiper-slide {
          height: 900px;

        }
      }
    }


    .loc_moreButton {
      margin-top: 16px;
      font-size: 26px;
      margin-bottom: 24px;
    }


    .loc_video {
      display: flex;
      width: 100%;
      max-height: 1190px;
    }

    .component-copyLinkToPage {
      padding-top: 16px;
      padding-bottom: 56px;
    }
  }
}

