.page-home_infoBlock {
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  gap: 16px;

  .loc_ourPets, .loc_atHome {
    background-color: $c_lagunaLightMiddle;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 16px;
    width: calc(50% - 8px);
    padding: 8px 0 8px 8px;
    cursor: pointer;

    &:hover {
      background-color: $c_lagunaLight;
    }

    .loc_value {
      font-size: 22px;
      font-weight: 700;

      color: $c_greyDark;
    }

    .loc_text {
      font-size: 14px;
      font-weight: 500;
      color: $c_greyDark;
      line-height: 18px;
    }

    img {
      height: 60px;
      display: inline-block;
    }

  }

}


.layout.loc--isMobile .page-home_infoBlock {
  margin-bottom: calc(24px * var(--viewport-koeff));
  gap: calc(24px * var(--viewport-koeff));

  .loc_ourPets, .loc_atHome {
    width: 50%;
    padding: calc(24px * var(--viewport-koeff));
    border-radius: calc(8px * var(--viewport-koeff));
    gap: calc(24px * var(--viewport-koeff));


    img {
      height: calc(100px * var(--viewport-koeff));
    }

    .loc_right {
      .loc_text {
        font-size: calc(32px * var(--viewport-koeff));
        line-height: calc(44px * var(--viewport-koeff));
      }

      .loc_value {
        font-size: calc(40px * var(--viewport-koeff));
      }
    }
  }
}
