@import 'src/styles/variables.scss';

.component-inputPrevLoadedImages {
  margin-top: 24px;

  .loc_labelTitle {
    margin-bottom: 16px;
  }

  .loc_images {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .loc_image,
    .loc_image img {
      width: 350px;
      display: block;

      .loc--deleted {
        opacity: 0.5;
      }
    }

    .loc_image {
      position: relative;

      .loc_delete, .loc_restore {
        position: absolute;
        top: 16px;
        right: 16px;
      }
    }
  }
}

.layout.loc--isMobile .component-inputPrevLoadedImages {
  margin-top: calc(24px * var(--viewport-koeff));

  .loc_labelTitle {
    margin-top: calc(32px * var(--viewport-koeff));
    margin-bottom: calc(16px * var(--viewport-koeff));
  }


  .loc_images {
    gap: calc(16px * var(--viewport-koeff));

    .loc_image,
    .loc_image img {
      width: 100%;
    }

    .loc_image {
      .loc_delete, .loc_restore {
        top: calc(24px * var(--viewport-koeff));
        right: calc(24px * var(--viewport-koeff));
        width: calc(60px * var(--viewport-koeff));
        height: calc(60px * var(--viewport-koeff));
      }
    }
  }


}
