.page-administration_pets_update {
  
  h1 {
    margin: 16px 0 32px 0;
  }
  .loc_gotopageButton {
    float: right;
  }
  .loc_error {
    color: $c_red;
    padding: 16px 0px;

  }

  .loc_wrapper_textForm {

    .loc_buttons {
      display: flex;
      margin-top: 36px;

      .loc_saveButton {
        // width: 200px;
      }


      .loc_deleteButton {
        margin-left: auto;
      }

      .loc_cancelButton {
        margin-left: 24px;
      }

    }

  }

  .loc_wrapper_updatedSuccess {
    .loc_addElseButton {
      margin: 24px 0;
    }
  }

  .loc_wrapper_removedSuccess {

    .loc_addElseButton {
      margin: 24px 0;
    }
  }

  &_deleteModal {
    .loc_buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 32px;
    }

  }
}


.layout.loc--isMobile .page-administration_pets_update {
  width: 100%;
  padding: 0;
  h1 {
    margin: 16px 0 32px 0;
  }
  .loc_gotopageButton {
    float: none;
    margin-top: 24px;
  }
  .loc_form {
    flex-direction: column;

    .loc_left, .loc_right {
      padding: 0 !important;
      width: 100%;

      .loc_formInputItem, .loc_formCheckboxItem, .loc_formDateItem, .loc_formSelectItem, .loc_formTextareaItem, .loc_formVideoItem {
        margin-bottom: 48px;
      }


      .loc__shortdescription {
        textarea {
          height: 30vh;

        }

      }

      .loc__fulldescription {
        textarea {
          height: 50vh;

        }

      }
    }
  }

  .loc_photos {
    flex-direction: column;

    h2 {
      font-size: 32px;
    }

    .loc_left, .loc_right {
      width: 100%;
      padding: 0 !important;
      margin-top: 48px;

      .loc_labelTitle {
        font-size: 32px;
        margin-bottom: 32px;
      }

      .loc_selectFile {
        font-size: 32px;
        line-height: 56px;
        padding: 16px 48px;
        margin-bottom: 24px;
      }

      .loc_images {
        gap: 24px;
      }

 

      .component-inputFileImage {
        margin: 0;
      }

    }
    .loc_error {
      padding: calc(32px * var(--viewport-koeff)) 0;
    }
  }

  .loc_buttons {
    margin: 64px 0 24px 0;
    .loc_cancelButton {
      margin-left: 24px;
    }
  }
  .loc_error {
    padding: calc(32px * var(--viewport-koeff)) 0;
    font-size: 32px;
  }
  .loc_wrapper_updatedSuccess, .loc_wrapper_removedSuccess {
    font-size: 40px;
    line-height: 56px;

    .loc_addElseButton {
      margin: 48px 0;
    }
  }
}



.page-administration_pets_update_deleteModal .component-modal--isMobile{
  .loc_buttons {
    margin-top: calc(32px * var(--viewport-koeff));
  }
}
