.component-textarea {
  position: relative; 
  .loc_wrapper {
    display: flex;
    justify-content: space-between;
    label {
      line-height: 20px;
      padding-right: 20px;
    }
  }
  .loc_wordsRest {
    text-align: right;
    font-style: Italic;
    font-size: 13px;
  }
  .loc_input_star {
    position: absolute;
    right: -8px;
    top: -4px;
  }
  textarea {
    border-radius: 20px;
  }
}
.layout.loc--isMobile .component-textarea {
  label {
    line-height: 44px;
    font-size: 30px;
  }
  textarea {
    font-size: 30px;
    padding: 24px;
    border-radius: 40px;
  }
  .loc_wordsRest {
    text-align: right;
    font-style: Italic;
    font-size: 24px;
    margin-top: 8px;
  }


    .loc_input_star {
      right: -12px;
      top: -8px;
      font-size: 28px;
      font-weight: 900;
    }

}
