.component-inputNumber {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    line-height: 20px;
    padding-right: 20px;
  }
  input {
    border-radius: 99px;
    padding: 0 16px;
    font-size: 16px;
    height: 40px;
    &:disabled {
      cursor: default;
      color: $c_greyLight;
      background-color: $c_greyLight;
      border-color: $c_greyMedium;
    }
  }
}


.layout.loc--isMobile .component-inputNumber {
  label {
    line-height: calc(44px * var(--viewport-koeff));
    font-size: calc(30px * var(--viewport-koeff));
    padding-right: calc(20px * var(--viewport-koeff));
  }
  input {
    border-radius: 99px;
    padding: 0 calc(32px * var(--viewport-koeff));
    font-size: calc(30px * var(--viewport-koeff));
    height: calc(80px * var(--viewport-koeff));
  }
}
