.page-administration_donators_create {

  h1 {
    margin: 16px 0 32px 0;
  }

  .loc_error {
    color: $c_red;
    padding: 16px 0;
  }

  .loc_wrapper_textForm {

    .loc_buttons {
      padding: 0;
      display: flex;
      margin-top: 36px;

      .loc_cancelButton {
        margin-left: auto;
      }
    }
  }

  .loc_wrapper_addedSuccess {
    margin-left: 0;

    .loc_addElseButton {
      margin: 24px 0;
    }
  }
}


.layout.loc--isMobile .page-administration_donators_create {
  width: 100%;
  padding: 0;

  h1 {
    margin: calc(16px * var(--viewport-koeff)) 0 calc(32px * var(--viewport-koeff)) 0;
  }

  .loc_form {
    flex-direction: column;

    .loc_left, .loc_right {
      padding: 0 !important;
      width: 100%;

      .loc_formInputItem {
        margin-bottom: calc(48px * var(--viewport-koeff));
      }
    }
  }

  .loc_buttons {
    margin: calc(64px * var(--viewport-koeff)) 0 calc(24px * var(--viewport-koeff)) 0;
  }

  .loc_error {
    padding: calc(32px * var(--viewport-koeff)) 0;
    font-size: calc(32px * var(--viewport-koeff));
  }

  .loc_wrapper_addedSuccess {
    font-size: calc(40px * var(--viewport-koeff));
    line-height: calc(56px * var(--viewport-koeff));

    .loc_addElseButton {
      margin: calc(48px * var(--viewport-koeff)) 0;
    }
  }
}
