.page-administration_metatags_form_component {
  .loc_form {
    display: flex;

    .loc_left {
      width: 100%;
    }

    .loc_right {
      width: 0;
    }
  }

  .loc_formInputItem, .loc_formTextareaItem {
    margin-bottom: 24px;

    input, textarea {
      width: 80%;
    }

    textarea {
      height: 100px;
    }

    label, .loc_label {
      width: 20%;
    }
  }
}





